<meta charset="utf-8">
<script type="text/javascript">
var <@popupId> = {
   	 APPROVAL_ID	: ""
   	,PRE_APPROVAL_ID: ""
   	,RELATION_ID	: ""
   	,reApprYn		: "N"
   	,appMember 		: {}
   	,getAppMemberToList : function() {
			let resultList = []
   			$.each(<@popupId>.appMember, function(key, obj) {
   				// 결재 Type 설정
   				obj["AL_APPR"]		= "";
   				obj["AL_AGREE"]		= "";
   				obj["AL_NOTICE"]	= "";
   				obj["AL_" + obj["APPROVAL_TYPE"]] = "active";
   			
   				resultList.push(obj);
   			});
   			resultList.orderBy("ORDER_NUM", "ASC");
   			return resultList;
   	 }
     ,memberSearchPopup : function() {
         	C_POP.open('popup_common_selectUserPopup', {}, function(retData) {
				<@popupId>.addMember(retData);
			});
      }
     ,callCompFn : function() {
         	<@popupId>.textEditorComp.testFn("aaa");
      }
     ,callCompSetMode : function() {
     		let parm = {mode:"R"}
         	<@popupId>.textEditorComp.setMode(parm);
      }
     ,addMember : function(retData) {
     	
			if(isEmpty(retData)) return;
      	
			if(isValid(<@popupId>.appMember[retData.USER_ID])) {
      			alert('이미 등록되어 있는 사원입니다.');
      			return;
      		}
      	
      		retData.APPROVAL_TYPE = 'APPR';		// Member 최초 등록시 결재로 설정
      		
      		let mlst = <@popupId>.getAppMemberToList();
      	
      		retData.ORDER_NUM = mlst.length;
     	
         	<@popupId>.appMember[retData.USER_ID] = retData;
         
         	<@popupId>.loadAppMember();
         
      }
     ,loadAppMember : function() {
      		let mlst = <@popupId>.getAppMemberToList();
      	
      		// 기안자 표시
          	let rparm = {
            	 targetId   : "signMember"
              	,templateId : "reqMember"
              	,regMember  : mlst[0]
          	}
          	C_COM.renderHtml("<@popupId>", rparm);
      	
      		// 결재자 표시
      		$.each(mlst, function(idx) {
      			if(idx > 0) {
          			// 결재자 추가
	                  let rparm = {
    	                   targetId   : "signMember"
        	              ,addMember  : this
            	          ,append		: "Y"
                	  }
	                  C_COM.renderHtml("<@popupId>", rparm);
    	  		}
      		});
      }
      // 결재 Type 설정
      ,setApprovalType : function(userId, approvalType,obj) {
			$(obj).siblings().removeClass("approval-btn-active").addClass("approval-btn");
			$(obj).addClass("approval-btn-active");
       		<@popupId>.appMember[userId].APPROVAL_TYPE = approvalType;
       }
      ,delMember : function(userId) {/* 결재자 삭제 */
       		let delIdx = <@popupId>.appMember[userId].ORDER_NUM;
       		<@popupId>.appMember = removeMember(<@popupId>.appMember, userId);
       		$.each(<@popupId>.appMember, function(key, obj) {
				if(obj.ORDER_NUM > delIdx) obj.ORDER_NUM = obj.ORDER_NUM - 1;         		
			});
			<@popupId>.loadAppMember();
       }
      /* 결재상신 */
      ,approvalSave : function () {
   	   
			let mlst = <@popupId>.getAppMemberToList();
          
          	var TITLE = $("#<@popupId> #TITLE").val();

			if (TITLE.length < 1) {
				alert("제목을 입력해 주세요.");
				$("#<@popupId> #title").focus();
				return false;
			}
          	var CONTENTS	= <@popupId>.compTextarea.getData();			
          	let isAnyData	= <@popupId>.compTextarea.isAnyData();
          
			if (CONTENTS.length < 1 ||  !isAnyData ) {
			    alert("상신 내용을 입력해 주세요.");
			    $("#<@popupId> #CONTENTS").focus();
			    return false;
			}
          
			if (mlst.length < 2) {
				alert("결재자를 입력해 주세요.");
				return false;
			}
          
			var approvalInfo = {
				APPROVAL_ID 	: <@popupId>.APPROVAL_ID
			 	,RELATION_ID 	: <@popupId>.RELATION_ID
			 	,TITLE 			: TITLE
			 	,CONTENTS 		: CONTENTS
			 	,AFTER_SERVICE 	: `<@AFTER_SERVICE>`
			 	,AFTER_PARM 	: `<@AFTER_PARM>`
			 	,STATE			: `ONGOING`		// 진행중
			}

			var parm = {
				queryGroup : [
					{
						queryId 		: "approval.insertApproval"
						,requestParm	: approvalInfo
					}
				]
			}
			$.each(mlst, function() {

				let apUserInfo = this;
				
				apUserInfo.APPROVAL_ID = <@popupId>.APPROVAL_ID;
				
				let rparm = {
 						queryId 		: "approval.insertApprovalUser"
						,requestParm	: apUserInfo
      			}
      			parm.queryGroup.push(rparm);
			});
          
			C_POP.confirm('결재 상신 하시겠습니까?', function() {
				C_COM.requestQuery(parm, function(resultData) {
					if( resultData.state == "S"){
						alert("결재 상신 되었습니다.");
  					
						// 결재요청 알람 처리
						let targetUserId = ""
						$.each(mlst, function(idx) {
							if(in_array(this.APPROVAL_TYPE, ["APPR", "AGREE"])) {
								targetUserId = this.USER_ID;
								return false;
							}
						});
  					
						let parm = {
							userId 		: targetUserId
							,content	: TITLE
							,directExec	: 'MOVE/MN_APR_STA'
						}
					
						C_ALARM.addAlarm(parm, function(retData) {
						});

  						if( <@popupId>.reApprYn == "Y" ) {
  							
  							//재상신인 경우 보류(PRE_APPROVAL_ID) 데이터 삭제
  							let parm = {
  									queryGroup : [
  										{
  											queryId 		: "approval.deleteApproval"
  											,requestParm	: {APPROVAL_ID : <@popupId>.PRE_APPROVAL_ID}
  										}
  										,{
  											queryId 		: "approval.deleteApprovalUser"
  											,requestParm	: {APPROVAL_ID : <@popupId>.PRE_APPROVAL_ID}
  										}
  										,{
  											queryId 		: "Filemng.deleteGFile"
  											,requestParm	: {GRP_FILE_ID : <@popupId>.PRE_APPROVAL_ID}
  										}
  									]
  								}
  							
  				   			C_COM.requestQuery(parm, function(resultData) {
  				   			});
  						}
  						
  						<@popupId>.close({state : "S",movePage :'requestBox'});
  						
  						
	  				}else{
	  					alert(resultData.msg)
	  				}
  				});				
			});
       }
       // 결재자 위로 이동
      ,upMember : function(userId) {
			let orderNum = <@popupId>.appMember[userId].ORDER_NUM;
			if(orderNum == 1) {
       			return;
       		}
       		$.each(<@popupId>.appMember, function(key, obj) {
       			if(obj.ORDER_NUM == (orderNum - 1) ) {
       				<@popupId>.appMember[key].ORDER_NUM 	= orderNum;
       				<@popupId>.appMember[userId].ORDER_NUM 	= orderNum - 1;
       				return false;
       			}
       		});
       		<@popupId>.loadAppMember();
       }
       // 결재자 아래로 이동
      ,dnMember : function(userId) {
       		let orderNum = <@popupId>.appMember[userId].ORDER_NUM;
       		$.each(<@popupId>.appMember, function(key, obj) {
       			if(obj.ORDER_NUM == (orderNum + 1) ) {
       				<@popupId>.appMember[key].ORDER_NUM 	= orderNum;
       				<@popupId>.appMember[userId].ORDER_NUM 	= orderNum + 1;
       				return false;
       			}
       		});
       		<@popupId>.loadAppMember();
       }
      ,approvalDefer : function() {
    	  
			var TITLE = $("#<@popupId> #TITLE").val();
			if (TITLE.length < 1) {
				alert("제목을 입력해 주세요.");
				$("#<@popupId> #title").focus();
				return false;
			}
          
          	var CONTENTS 	= <@popupId>.compTextarea.getData();			
          	let isAnyData 	= <@popupId>.compTextarea.isAnyData();
          
			if (CONTENTS.length < 1 ||  !isAnyData ) {
				alert("상신 내용을 입력해 주세요.");
				$("#<@popupId> #CONTENTS").focus();
				return false;
			}
          
			var approvalInfo = {
         		 APPROVAL_ID 	: <@popupId>.APPROVAL_ID
             	,RELATION_ID 	: <@popupId>.RELATION_ID
             	,TITLE 			: TITLE
	           	,CONTENTS 		: CONTENTS
	           	,AFTER_SERVICE 	: `<@AFTER_SERVICE>`
	           	,AFTER_PARM 	: `<@AFTER_PARM>`
	           	,STATE			: `HOLD`		// 보류중
          	}

			var parm = {
					queryId 		: "approval.insertApproval"
					,requestParm	: approvalInfo
			}
			
			C_POP.confirm('보류함으로 저장 하시겠습니까?', function() {
				C_COM.requestQuery(parm, function(resultData) {
					if( resultData.state == "S"){
		
						let mlst = <@popupId>.getAppMemberToList();
						if (mlst.length < 2) {
							alert("결재자를 입력해 주세요.");
							return false;
						}
						
						parm.queryGroup = [];
						
						$.each(mlst, function() {
					      	
							let apUserInfo = this;

							apUserInfo.APPROVAL_ID = <@popupId>.APPROVAL_ID;
						
							let rparm = {
								queryId 		: "approval.insertApprovalUser"
								,requestParm	: apUserInfo
							}
							parm.queryGroup.push(rparm);
						});

						C_COM.requestQuery(parm, function(resultData) {
							if( resultData.state == "S"){
		  					
								// 결재요청 알람 처리
								let targetUserId = ""
								$.each(mlst, function(idx) {
									if(in_array(this.APPROVAL_TYPE, ["APPR", "AGREE"])) {
										targetUserId = this.USER_ID;
										return false;
									}
								});
		  					
								let parm = {
										userId 	: targetUserId
										,content	: TITLE
										,directExec	: 'MOVE/MN_APR_STA'
								}
							
								C_ALARM.addAlarm(parm, function(retData) {
								});

		 						alert("보류함에 저장 되었습니다.");// 보류함으로 이동
								setTimeout(()=>{<@popupId>.close({state : "S",movePage:'holdBox'});},500)

		  					}else{
		  						alert(resultData.msg)
		  					}
						});	
 
					}else{
  						alert(resultData.msg)
  					}
  				});				
          	});
       }
      ,close : function(retData) {
      		if(isEmpty(retData)) retData = {};
          	C_POP.close(retData);
       }
       ,normalAppr : function(data) {

	   		if(isValid(data.APPROVAL_ID))	<@popupId>.APPROVAL_ID = data.APPROVAL_ID;
	   		else				    		<@popupId>.APPROVAL_ID = C_COM.makeUniqueId();// 결재 신규ID 생성
	       	
	   		<@popupId>.RELATION_ID = data.RELATION_ID;
	   		
	       	// 결재 Textarea Component Include
			C_COMP.import("compTextarea", "component_common_compTextarea",{editable:true,initData: data.CONTENTS} , function() {});   
	           
	   		// 첨부파일 컴포넌트 추가
	       	var parm = {
	   			 GRP_FILE_ID 	: <@popupId>.APPROVAL_ID
	   			,OWNER_CD 		: "APPROVAL"
	   			,mode			: "M"
	   			,title			: "NA"
	   		}
	   		C_COMP.import("<@popupId>_appFileMng", "component_compMultiFilemng", parm , function() {
	   			
	   		});
	   		
	   		// 기안자 추가
	       	let reqMember = fn_copyObject(G_VAL.session);
	   		
	   		reqMember.APPROVAL_TYPE = "RQST";
	   		reqMember.ORDER_NUM		= 0;
	   		
	       	<@popupId>.appMember[reqMember.USER_ID] = reqMember;
	
			let rparm = {
			     targetId   : "signMember"
			    ,templateId : "reqMember"
			    ,regMember  : reqMember
			}
			C_COM.renderHtml("<@popupId>", rparm);
       	
        }
       ,reAppr : function(data) {

			let TITLE = data.TITLE ;
			$("#<@popupId> #TITLE").val(TITLE);
			
			<@popupId>.PRE_APPROVAL_ID = data.APPROVAL_ID;
       	
			<@popupId>.APPROVAL_ID = C_COM.makeUniqueId();// 결재 신규ID 생성
       	
			<@popupId>.RELATION_ID = data.RELATION_ID;

			let parmApproval = {
					queryId       	: "approval.getApproval"
					,requestParm    : {APPROVAL_ID : <@popupId>.PRE_APPROVAL_ID}
   			}
			
   			C_COM.requestQuery(parmApproval, function(resultData) {
 
				let CONTENTS = resultData.data[0]?.CONTENTS
   				C_COMP.import("compTextarea", "component_common_compTextarea",{editable:true,initData: CONTENTS} , function() {});
   			});


       	// File Copy
			var parm = {
				GRP_FILE_ID 	: <@popupId>.APPROVAL_ID
				,OWNER_CD 		: "APPROVAL"
				,mode			: "M"
				,title			: "NA"
			}
       	
       		let fromData 	= fn_copyObject(parm);
       		let toData 		= fn_copyObject(parm);
       	
	       	fromData.GRP_FILE_ID = <@popupId>.PRE_APPROVAL_ID
	       	
       		let copyParm = { fromData : fromData, toData : toData }
       	
			var parm = {
  				 queryId 		: "Filemng.copyFile"
  				,requestParm	: copyParm
  			}

  			C_COM.requestQuery(parm, function(resultData) {
  				if( resultData.state == "S"){
  		        	// 첨부파일 컴포넌트 추가
  		        	var parm = {
  		    			 GRP_FILE_ID 	: <@popupId>.APPROVAL_ID
  		    			,OWNER_CD 		: "APPROVAL"
  		    			,mode			: "M"
  		    			,title			: "NA"
  		    		}
  		    		C_COMP.import("<@popupId>_appFileMng", "component_compMultiFilemng", parm , function() {
  		    			
  		    		});
  				}
  			});				

   			// 기안자 추가
       		let reqMember = fn_copyObject(G_VAL.session);
   			reqMember.APPROVAL_TYPE = "RQST";
   			reqMember.ORDER_NUM		= 0;
   		
       		<@popupId>.appMember[reqMember.USER_ID] = reqMember;

           	let rparm = {
					targetId   	: "signMember"
               		,templateId : "reqMember"
               		,regMember  : reqMember	
			}
			C_COM.renderHtml("<@popupId>", rparm);
   		
           
			/* 결재자 조회*/
			let parmDtl = {
					queryId        	: "approval.getApprovalUser"
					,requestParm    :  {APPROVAL_ID : <@popupId>.PRE_APPROVAL_ID}
			}
           
			C_COM.requestQuery(parmDtl, function(resultData) {
        	   
				let mlst = resultData.data;
				let statefstNullCheck = "N";
	          	// 결재자 표시
	          	$.each(mlst, function(idx) {
	          		if(idx > 0) {
	          			this.ORDER_NUM = idx;
	          			<@popupId>.appMember[this.USER_ID] = this;
	          			
	              		// 결재자 추가
	                      let rparm = {
	                           targetId   : "signMember"
	                          ,addMember  : this
	                          ,append		: "Y"
	                      }
	                      C_COM.renderHtml("<@popupId>", rparm);
	          		}
	          	});
           });           
        }
   }
   // Popup Load가 완료된후 실행 된다.
   C_POP.onLoadPopup("<@popupId>", function(data) {

		if(data.reApprYn == "Y") {
		// 재상신인경우 Setting을 다르게 한다.
			<@popupId>.reApprYn = "Y";
			<@popupId>.reAppr(data.rowData);
			$("#toHoldBox").hide();
		} else {
			<@popupId>.normalAppr(data);
		}
	});
</script>

<!-- modal-popup start -->
<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- header start -->
      <div class="modal-header srch-pop-inwrap">
        <h5 class="modal-title col9 col8-md col7-sm" id="exampleModalLongTitle">결재 상신</h5>
        <!-- button start -->
        <div class="txt-r col1 col2-md col3-sm">
          <button type="button" class="win-fullcls">
          </button>
          <button type="button" class="win-full">
          </button>
          <button type="button" class="close" onclick="<@popupId>.close()" aria-label="Close">
            <span class="pop-cls" aria-hidden="true"></span>
          </button>
        </div>
        <!-- button end -->
      </div>
      <!-- header end -->

      <!-- body start -->
      <div class="modal-body">
        <div class="body-inwrap">

        <!-- table area start -->
        <div class="tb-card-allwrap01 col10 mt10">
            <div class="card-inwrap">
              <div id="tb-scroll" class="card-cnt-wrap p20">
                  <!-- table start -->
                  <table class="tb-wr-wrap col10 col10-xs">
                      <colgroup>
                        <col>
                        <col>
                      </colgroup>
                      <tbody>
                        <tr>
                          <th class="col1 col2-sm col10-xs">제 목</th>
                          <td class="col9 col8-sm col10-xs">
                              <input type="text" class="form-control form-control-sm col10"  id='TITLE' name='TITLE' value='<@TITLE>'>
                          </td>
                        </tr>
                        <tr>
                            <th class="col1 col2-sm col10-xs">결재자 검색</th>
                            <td class="col9 col8-sm col10-xs">
                                <input type="text" class="form-control form-control-sm col10 search-form" onclick="<@popupId>.memberSearchPopup();">
                            </td>
                          </tr>                        
                        <tr>
                        <th>결재자 리스트</th>
                        <td  id="signMember"></td>
							<div class="add-file-list add-file-list01">
								<script type="text/x-jsrender" id="signMember_template">	
								<div class="add-file-list add-file-list01">
								<li class="col10 col10-md col10-sm col10-xs display-lf-end">
									<div class="col9 col9-md col9-sm col10-xs display-row display-lf-column">
										<div class="col10-xs">
											<button class="{{if addMember.APPROVAL_TYPE == "APPR"  }} col3-xs approval-btn-active{{else}}col3-xs approval-btn{{/if}}" 		onclick="<@popupId>.setApprovalType('{{:addMember.USER_ID}}','APPR'	,this   )">결재</button>
											<button class="{{if addMember.APPROVAL_TYPE == "AGREE" }} col3-xs approval-btn-active{{else}}col3-xs approval-btn{{/if}}" 		onclick="<@popupId>.setApprovalType('{{:addMember.USER_ID}}','AGREE',this	)">합의</button>
											<button class="{{if addMember.APPROVAL_TYPE == "NOTICE"}} col3-xs approval-btn-active{{else}}col3-xs approval-btn{{/if}} mr10"	onclick="<@popupId>.setApprovalType('{{:addMember.USER_ID}}','NOTICE',this	)">통보</button>
										</div>
											<span  class="approval-txt col10-xs pt5"><a href="#">{{:addMember.USER_NM}} / {{:addMember.USER_ID}} / {{:addMember.USER_TYPE}}</a></span>
									</div>
									<div class="display-w-end col1 col1-sm col10-xs">
											<button class="dn-btn"		 onclick="<@popupId>.upMember ('{{:addMember.USER_ID}}')"></button>
											<button class="up-btn mr5"	 onclick="<@popupId>.dnMember ('{{:addMember.USER_ID}}')"></button>
											<button class="add-file-cls" onclick="<@popupId>.delMember('{{:addMember.USER_ID}}')"></button>
									</div>
								</li>
								</div>
							</script>
							</div>
							<script type="text/x-jsrender" id="reqMember_template">	
								<div class="add-file-list add-file-list01">
								<li class="col10 col10-md col10-sm col10-xs display-lf-end">
									<div class="col9 col9-md col9-sm col10-xs display-row display-lf-column">
										<div class="col10-xs">
										<button class="col3-xs approval-btn mr10" style='height:25px;'>기 안</button>
										</div>
										<span class="approval-txt col10-xs pt5"><a href="#">{{:regMember.USER_NM}} / {{:regMember.USER_ID}} / {{:regMember.USER_TYPE}}</a></span>
									</div>
								</li>
								</div>
							</script>
                        </tr> 

                        <tr>
                          <th>내 용</th>
                          <td>
                              <component id="compTextarea"></component>
                          </td>
                        </tr> 
                        <tr>
                          <th>첨부파일</th>
                          <td>
                              <compnent id="<@popupId>_appFileMng"></compnent>  
                          </td>
                        </tr>                                                                                                        
                      </tbody>
                    </table>
                  <!-- table end -->
              </div>
            </div>
          </div>
          <!-- table area end -->

        </div>        
<!--       </div> -->
      <!-- body end -->

      <!-- footer start -->
      <div class="modal-footer">
          <button type="button" class="btn flat-btn"  onclick="<@popupId>.approvalSave()">결재 상신</button>
          <button type="button" class="btn flat-btn" onclick="<@popupId>.approvalDefer()" id="toHoldBox">보류함</button>
          <button type="button" class="btn outline-btn mr20" onclick="<@popupId>.close()">취 소</button>
      </div>
      <!-- footer end -->
    </div>
  </div>
</div>                      
<!-- modal-popup end -->


<script type="text/javascript">
  $("#accordion .accordion_bar").accordion();
</script>
<!-- </body>
</html> -->