<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 menuDataMap : {}
		,loadComponent : function(parm) {
			let tparm = {
				 tableName 			: "TBL_EXP_MENU"
				,columnListStr		: "MENU_ID, MENU_NM, PAGE_ID"
				,primaryColumnList	: ["MENU_ID"]
				,filterMap			: {MENU_DEPTH : 1}
				,orderColumnList	: ["MENU_ID"]
			} 
			const menuDataSet = C_COM.makeDataSetFromTable(tparm);
			
			<@compId>.menuDataMap = menuDataSet.map;
			
			let menuSelectList = C_COM.makeCodeList(menuDataSet.list, "MENU_ID", "MENU_NM");

			let sendParm = {
				gridParm : {
					 requestQuery	: {
						  queryId		: "system.getHelpMngList"
						 ,requestParm	: {}
					 }
					,tableName		: "TBL_EXP_HELP_MNG"
					,columnMap 		: {
						 "HELP_ID"     	: { headerText : "도움말ID"			, hidden  : "Y"		,ifNewAutoSet : function() { return getUniqueId("HELP"); }		}
						,"MENU_ID"     	: { headerText : "메뉴명"			, notNull : "Y"		,columnType : "selectbox", selectBoxCodeList : menuSelectList	}
						,"HELP_TITLE"   : { headerText : "도움말 제목"																							}
						,"HELP_TYPE"   	: { headerText : "도움말 Type"		, notNull : "Y"		,columnType : "readOnly", default : "POPUP"						}
						,"TEMPLATE_ID" 	: { headerText : "Template ID"								 															}
						,"HELP_BUTTON"	: { headerText : "도움말 편집"	, noSave  : "Y"		,columnType : "button", buttonNm : "내용등록/수정"	,buttonFn : <@compId>.editContent	}
					 }
					,columnConfig 	: {
					 }
					,primaryKeyList		: ["HELP_ID"				]
					,searchColumnList	: ["MENU_NM", "TEMPLATE_ID"	]
					,searchWhereMap		: {"HELP_TYPE" : "POPUP"	}
					,orderColumnList 	: ["MENU_ID"				]
				 }
				,noTitle 			: "Y"
				,noBreadcrumb		: "Y"
			}
			C_COMP.import("<@compId>_editor", "component_compTableEditor",sendParm , function() {});		
		 }
		,editContent : function(targetCell, rowData) {
			C_COM.showHelp({helpType : rowData.HELP_TYPE, helpTitle : rowData.HELP_TITLE, templateId : rowData.TEMPLATE_ID});
		 }
	}
	// Page Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(parm) {
		<@compId>.loadComponent(parm);
	});

</script>
<component>
    <!-- table area start -->
	<compnent id="<@compId>_editor"></compnent>    
    <!-- table area end -->
</component>