<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {

			  recvData : []	
		 	 ,mode : ''
		 	 ,updatingData : {NEW_USER:{},NEW_BUYER:{}}
		 	 ,addCoworkRtnData : []
		 	 ,addSalseManRtnData : []
		 	 ,addSuggesterRtnData : []
		 	 ,consultingId:''
		 	 ,processState:''
		 	 ,preProcessState:''
		 	 ,consultantUser:{}
		 	 ,bFirst : true
			 ,close : function(returnData) {
				if(isEmpty(returnData)) returnData = {};
				C_POP.close(returnData);
			 }
		 	 ,makeReturnData : () => {

				let returnData = {CONTRACT_ID : <@compId>.updatingData["CONTRACT_ID"]};
				
				const $inputs = $("#<@compId>_items input");
				$.each( $inputs, function(){

					if( $(this).attr("id")){
						let key = $(this).attr("id").replace("<@compId>_","");
						let val = $(this).val();
						 
						if(key)
							returnData[key] = val;
					}
				})

				// 계약 구분은 상품에 따라 설정.
				returnData["CONTRACT_TYPE"]		= 	<@compId>.updatingData["CONSULTING_TYPE"] == "MONTHLY" ? "MONTHLY" : 
													<@compId>.updatingData["CONSULTING_TYPE"] == "ONCE" 	? "ONLY_ONE" : "PARTNER" ;
													
				if( returnData["CONTRACT_TYPE"] == "ONCE"){
					returnData["EXPIRE_DATE"] = returnData["CONTRACT_DATE"];
				}
debugger;														
				returnData["CONSULTING_CLASS"]	= C_UICOM.getData("<@compId>_selectConsultingClass");
				 
				returnData["USER_ID"]			= <@compId>.updatingData["USER_ID"]
				returnData["BUYER_ID"]			= <@compId>.updatingData["BUYER_ID"]
				returnData["CONSULTING_ID"]		= <@compId>.consultingId;

				returnData["CONTRACT_MEMBER"]	= <@compId>.getContractMember(returnData["CONTRACT_ID"],returnData["USER_ID"]);
debugger;
				// 계약 보류/ 계약 거부 상태 변경 시 valid 체크 안함.
				let selectPSVal = '';
				try{
					selectPSVal = C_UICOM.getData("<@compId>_selectPendingStatus");
				}catch(e){
				}
				if( isEmpty(selectPSVal) )
					selectPSVal = C_UICOM.getData("<@compId>_selectProcessStatus");
				if( selectPSVal == "PENDING" || selectPSVal == "REJECTING" ) {
					
					if( <@compId>.processState != "PENDING" && <@compId>.processState != "REJECTING" ){

						let yn = false;
						C_POP.confirm('현 계약상태를 [계약 보류] 혹은 [계약 거절]로\n상태 변경 하시겠습니까?', function() {
							
							yn = true;
							
						});
						
						if( yn == true){
			
							returnData["PROCESS_STATE"]		= selectPSVal;
							returnData["PRE_PROCESS_STATE"]	= "<@processState>";
							<@compId>.changeProcessState({PRE_PROCESS_STATE : returnData["PRE_PROCESS_STATE"] , PROCESS_STATE : returnData["PROCESS_STATE"]	});
							return returnData;

						}else{
							
							if( <@compId>.validation(returnData) == false){
								return null;
							}
							
						}
						
					}else{
						
						C_POP.alert("[계약 보류] 혹은 [계약 거절] 상태가 아닌 경우에만 보류 혹은 거절할 수 있습니다.")
						return null;
						
					}
				}
				
				// 계약 보류/ 계약 거부 상태 해제.	
				else if( selectPSVal == "RELEASE"  ) {
					// USER 인경우는 현재 processState가 
					if( <@compId>.processState == "PENDING" || <@compId>.processState == "REJECTING" ){
						
						let yn = false;
						C_POP.confirm('현 [계약 보류] 혹은 [계약 거절] 상태를 해제하시겠습니까?', function() {
							
							yn = true;
							
						});
						
						if( yn == true){
			
							returnData["PROCESS_STATE"]		= <@compId>.preProcessState;
							returnData["PRE_PROCESS_STATE"]	= "<@processState>";
							<@compId>.changeProcessState({PRE_PROCESS_STATE : returnData["PRE_PROCESS_STATE"] , PROCESS_STATE : returnData["PROCESS_STATE"]	});
							return returnData;
						}else{
							
							if( <@compId>.validation(returnData) == false){
								return null;
							}
							
						}
						
					}else{
						
						C_POP.alert("[계약 보류] 혹은 [계약 거절] 상태인 경우에만 해제할 수 있습니다.")
						return null;
						
					}
					
					
				}else {
					
					if( <@compId>.validation(returnData) == false ){
						return null;
					}else {
						
						return returnData;
					}
					
				}
				
				
		 	 }
/* 			 ,apply : () =>{

				const returnData = <@compId>.makeReturnData();
				
				if( returnData == null )return;
				 
				//<@compId>.close(returnData);
				 
			 } */
			 ,validation : (returnData) =>{

				const buyerValid	= <@parentId>.<@compId>_BUYER.isValid;
				const userValid		= <@parentId>.<@compId>_USER.isValid;
				const consulting	= $("#<@compId>_CONSULTING").val();
				
				if( !buyerValid 	|| isEmpty(returnData["BUYER_ID"]) 	) {C_POP.alert("고객명을 조회하여 입력하여 주십시오."); return false;}
				if( !userValid		|| isEmpty(returnData["USER_ID"]) 	) {C_POP.alert("계약담당자를 조회하여 입력하여 주십시오."); return false;}
				if( isEmpty(returnData["CONTACT_DATE"]) 				) {C_POP.alert("상담일을 선택하여 주십시오."); return false;}
				if( isEmpty(returnData["CONTRACT_DATE"]) 				) {$("#<@compId>_EXPIRE_DATE").val('');C_POP.alert("계약일을 선택하여 주십시오."); return false;}
				
				if( <@compId>.updatingData["CONSULTING_TYPE"] == "MONTHLY" && isEmpty(returnData["EXPIRE_DATE"]) 			) {C_POP.alert("만료일을 선택하여 주십시오."); return false;}
				
				if( isEmpty(returnData["TOTAL_COST"]) 					) {C_POP.alert("계약금액을 입력하여 주십시오."); return false;}
				if( returnData["CONSULTING_CLASS"] == '--'  			) {C_POP.alert("컨설팅 분야를 선택하여 주십시오."); return false;}
				if( isEmpty(consulting)				 					) {C_POP.alert("컨설팅 상품을 입력하여 주십시오."); return false;}
				//if( <@compId>.getContractMember().length == 0			) {C_POP.alert("코웍 사원을 등록하여 주십시오."); return false;}

				const sps = C_UICOM.getData("<@compId>_selectProcessStatus");
				debugger;
		 		if( !isEmpty(sps) && sps != "<@processState>"){
					
					C_POP.confirm('현 계약상태가 변경되었습니다.\n새로운 계약상태를 적용하시겠습니까?', function() {
						
						let selectPSVal= C_UICOM.getData("<@compId>_selectProcessStatus");
						returnData["PROCESS_STATE"]		= selectPSVal;
						returnData["PRE_PROCESS_STATE"]	= "<@processState>";
						<@compId>.changeProcessState({PRE_PROCESS_STATE : returnData["PRE_PROCESS_STATE"] , PROCESS_STATE : returnData["PROCESS_STATE"]	});
						
					});
				}
				
				return true;
				
			 }
			,pageInit : () => {
				
				const auth = G_VAL.session.GET_AUTH("main_contract_contractMng");
				if( auth.ROLE_ID != "SYSTEM" && auth.ROLE_ID != "MANAGER" ){
				//if( true ){
					$("#<@compId> .modal-body").css('height','600px')
				}
				
//				<@compId>.setTitleHeight();
				
/* 				$("#<@compId>_CONSULTANT_NM").text(<@compId>.consultantUser.NM);
				
				$("#<@compId>_salesManList td#ROLE_NM" ).html(<@compId>.updatingData.CONSULTANT_ROLE_NM);
				$("#<@compId>_salesManList td#USER_ID" ).html(<@compId>.updatingData.USER_ID);
				$("#<@compId>_salesManList td#USER_NM" ).html(<@compId>.updatingData.USER_NM);
				$("#<@compId>_salesManList td#GRADE_NM").html(<@compId>.updatingData.CONSULTANT_GRADE_NM);
 */				
				let CONTRACT_TYPE,CONSULTING_CLASS;
				//모든 값을 세팅.
				Object.entries(<@compId>.updatingData).forEach(([key, val]) => {
				    $("#<@compId>_" + key).val(val);
				    if( key == "TOTAL_COST"){
				
				    	
				    	$("#<@compId>_TOTAL_COST").val( addComma(val) );
				    }
				});				
				
				//<@compId>.savedContractMemberSearch();
				
				//<@compId>.memberSet();
				
				const consultingTypeNm	= <@compId>.updatingData["CONSULTING_TYPE_NM"];
				const consultingNm		= <@compId>.updatingData["CONSULTING_NM"];
				
				if( consultingNm ){
					
					$("#<@compId>_CONSULTING").val( `${consultingNm} ( ${consultingTypeNm} )`);
					
				}

				CONTRACT_TYPE		= <@compId>.updatingData["CONTRACT_TYPE"];
				CONSULTING_CLASS	= <@compId>.updatingData["CONSULTING_CLASS"];

				<@compId>.setSelectBox(CONTRACT_TYPE,CONSULTING_CLASS);

				<@compId>.setByProcessState();
				
			}
			,setDisableModeItems : () => {
				
				$("#<@compId>_BUYER").css("margin-top","7px").text($("#<@compId><@compId>_BUYER_val").val())
				$("#<@compId><@compId>_BUYER_val+a").hide()
				$("#<@compId><@compId>_BUYER_val").hide();
				
				$("#<@compId>_USER").css("margin-top","7px").text($("#<@compId><@compId>_USER_val").val())
				$("#<@compId><@compId>_USER_val+a").hide()
				$("#<@compId><@compId>_USER_val").hide();
/*             디저블 시키기 				
				$("#<@compId>_CONSULTING").next().after("<div style='margin-top:7px'>" + $("#<@compId>_CONSULTING").val() + "</div>");
				$("#<@compId>_CONSULTING+a").hide();
				$("#<@compId>_CONSULTING").hide(); */
				
			}
			,setByProcessState : () => {
				
				if(G_VAL.session.roleId == "SYSTEM") return; 

				if( "<@processState>".indexOf("CONTRACTED") > -1 ){

					if( <@compId>.resulting == "Y"){
						
						//임시 주석 <@compId>.setDisableModeItems();
						
						setTimeout( ()=>{
							//$("#<@compId>_addCowork").hide();
							$("#<@compId> button .icon_trash").hide()
							
							// 계약 금액 관리자는 변경할수 있도록 수정 by 위성열
							if(!in_array(G_VAL.session.roleId, ['MANAGER', 'SYSTEM'])) {
								$("#<@compId>_TOTAL_COST").prop("disabled",true);	
							} 
							
						},300)
						
					}else{
						
						//임시 주석 <@compId>.setDisableModeItems();
						
					}
					
				}
				
				if( "<@processState>".indexOf("COMPLETED") > -1 ){
					
					$("#<@compId>_applyBtn").hide();
					// 임시 주석 <@compId>.setDisableModeItems();
					/* 임시 주석 
					setTimeout( ()=>{
						$("#<@compId>_applyBtn").hide();
						//$("#<@compId>_addCowork").hide();
						$("#<@compId>_coworkList button").hide();
						$("#<@compId>_selectContractType").children().prop("disabled",true)
						$("#<@compId>_selectConsultingClass").children().prop("disabled",true)
						$("#<@compId> .ui-datepicker-trigger").hide();
						$("#<@compId> .datepicker").prop("disabled",true);
						$("#<@compId> input[type='text']").prop("disabled",true)
						$("#<@compId> button .icon_trash").hide()
					},300)
					*/
				}
				
			}
			,setSelectBox : (CONTRACT_TYPE,CONSULTING_CLASS) => {
				
				const processState = C_COM.getCodeList("PROCESS_STATE");
				const exPreContract = processState.filter( item => { return item[0] !='PRE_CONTRACT' && item[0] !='ON_CONTRACTING_APPR' ? item :'' });
				
				C_UICOM.makeSelectBox({ 
					 data 			: exPreContract
				 	,targetId 		: "<@compId>_selectProcessStatus" 
				}, "single");
				C_UICOM.setSingleBox("<@compId>_selectProcessStatus" , "<@processState>");
			
				const auth = G_VAL.session.GET_AUTH("main_contract_contractMng")
				if( auth.ROLE_ID == "SYSTEM" || auth.ROLE_ID == "MANAGER" ){
				//if( false ){
					
					$("#<@compId>_selectPendingTR").hide();
					
					if( auth.MENU_ID == "MN_BIZ_CTRMNG"){
						
						// 작동안함. C_UICOM.setSelectBoxOption("<@compId>_selectProcessStatus", "readOnly", "Y");
						$("#<@compId>_processStatus").attr("disabled",true)
					}
					
				}else{

					// 작동안함.C_UICOM.setSelectBoxOption("<@compId>_selectProcessStatus ", "readOnly", 'Y');
					$("#<@compId>_processStatus").attr("disabled",true)
					
					let data =  exPreContract.filter( item => { return item[0] =='PENDING' || item[0] =='REJECTING' ? item :'' });
					data.push(["RELEASE","거절 및 보류 해제"]);
					
					C_UICOM.makeSelectBox({ 
						defaultItem 	: ["--", "선택"]
						,data 			: data  
						,targetId 		: "<@compId>_selectPendingStatus" 
					}, "single");
				}
			 		
				C_UICOM.makeSelectBox({ 
					 defaultItem 	: ["--", "선택"]
					,data : C_COM.getCodeList("CONSULTING_CLASS")
		 			,targetId : "<@compId>_selectConsultingClass" }, "single");
				if( CONSULTING_CLASS ) 
					C_UICOM.setSingleBox("<@compId>_selectConsultingClass", CONSULTING_CLASS);
				
			}
			,changeProcessState : (state) => {

		 		const CONTRACT_ID = <@compId>.updatingData["CONTRACT_ID"];
				var parm = {
						 queryId 		: "contract.updateContractProcessState"
						,requestParm	: 	{
												CONTRACT_ID : CONTRACT_ID
												, PRE_PROCESS_STATE : state.PRE_PROCESS_STATE 
												, PROCESS_STATE : state.PROCESS_STATE
											}
				}

				C_COM.requestQuery(parm, function(resultData) {
					
				});	
				
			}
/* 			,savedContractMemberSearch : () => {
				
				const CONTRACT_ID = <@compId>.updatingData["CONTRACT_ID"]
				var parm = {
						 queryId 		: "contract.getContractMemberList"
						,requestParm	: {CONTRACT_ID : CONTRACT_ID}
				}

				C_COM.requestQuery(parm, function(resultData) {
					
					<@compId>.addCoworkRtnData	= resultData.data.filter( member => member.RELATION_TYPE == 'COWORK');
					
					var rparm1 = {
							 targetId 		: "<@compId>_coworkList"
							,list			: <@compId>.addCoworkRtnData
					}
					C_COM.renderHtml("<@compId>", rparm1);
					
				});
			} 
			,selectRecommender : (recommId) => {
			
				const requestParm = {};
				
				var parm = {
						 queryId 		: "system.getUser"
						,requestParm	: {USER_ID : recommId}
				}

				C_COM.requestQuery(parm, function(resultData) {

					if( resultData.data ){
						
						const recommender 		= resultData.data[0];
						$("#<@compId>_suggester td#ROLE_NM").attr("ROLE_NM", recommender.ROLE_NM).html(recommender.ROLE_NM)
						$("#<@compId>_suggester td#USER_ID").attr("USER_ID", recommender.USER_ID).html(recommender.USER_ID)
						$("#<@compId>_suggester td#USER_NM").attr("USER_NM", recommender.USER_NM).html(recommender.USER_NM)
						$("#<@compId>_suggester td#GRADE_NM").attr("GRADE_NM", recommender.GRADE_NM).html(recommender.GRADE_NM)
						
					}

				});
				
			}
			*/
/* 			,setTitleHeight : () => {
				
				let title = <@compId>.mode == "계약 정보 수정";
				if( "<@processState>".indexOf("COMPLETED") > -1 )title = "계약 정보";
		  	 	$("#<@compId> .tit").html( title );
				
			} */
/* 			,memberSet : () => {

					
					const buyerId	= <@compId>.updatingData["BUYER_ID"];
					const buyerNm	= <@compId>.updatingData["BUYER_NM"];
					if( buyerId ){
						$("#<@compId>_BUYER").val(buyerNm+ " ("+buyerId+")");
					}
					
					const userId	= <@compId>.updatingData["USER_ID"];
					const userNm	= <@compId>.updatingData["USER_NM"];
					const recommId	= <@compId>.updatingData["RECOMMENDER_ID"]
					if( userId ){
						$("#<@compId>_USER").val(userNm+ " ("+userId+")");
						if( recommId )<@compId>.selectRecommender(recommId);
					}

			} */
			,consultingSearchPopup : () => {
				
				let param = {searchText:""};

				C_POP.open('popup_contract_consultingSearchPopup', {param:param}, function(retData) {

					const consultingNm								= retData["CONSULTING_NM"];
					const consultingTypeNm							= retData["CONSULTING_TYPE_NM"];
					if( !isEmpty(consultingNm) ){
						<@compId>.updatingData["CONSULTING_ID"]		= retData["CONSULTING_ID"] ;
						<@compId>.updatingData["CONSULTING_TYPE"]	= retData["CONSULTING_TYPE"] ;
						<@compId>.consultingId						= retData["CONSULTING_ID"] ;
						$("#<@compId>_CONSULTING").val( `${consultingNm} ( ${consultingTypeNm} )` );
					}
					
				});
			}
			,setHandler : () => {

/* 		 		$("#<@compId>_addCowork").on('click', (event) => {
					
					event.preventDefault();
					const CONTRACT_ID	= 	<@compId>.updatingData["CONTRACT_ID"] ;
					const USER_ID		=	<@compId>.userId ;
					const contractMember= 	<@compId>.getContractMember(CONTRACT_ID, USER_ID);

					let param = {"ALL_MEMBERS": contractMember};
					C_POP.open('popup_system_memberSearchPopup', {param:param, gubun:'COWORK'}, function(retData) {

						if( isEmpty(retData) == false ){
							<@compId>.addCoworkRtnData.push( retData );
							var rparm = {
									 targetId 		: "<@compId>_coworkList"
									,list			: <@compId>.addCoworkRtnData
							}
							
							C_COM.renderHtml("<@compId>", rparm);
						}
					});
					
				}) */
				
/* 				$("a[name^='<@compId>_tab']").on('click', (obj) => {
					
				    const targetName = $(obj.target).attr("name");
				    
				    $("a[name^='<@compId>_tab']").parent().removeClass('active');
				    $('#<@compId>_tab1, #<@compId>_tab2').hide();

				    $(obj.target).parent().addClass('active');
				    $("#" + targetName).show();

				    setTimeout(()=>{if( !$("#" + targetName).is(':visible') )$("#" + targetName).show();},10)
				    
				});		 */
					 
		 		$('#<@compId>_TAX_MNG,#<@compId>_LABOR_MNG,#<@compId>_ANOTHER_EXPERT').on('input', function () {
		 		    var input = this.value;
		 		    var maxLength = 80;
		 		    var currentLength = 0;
		 		    var result = '';

		 		    for (var i = 0; i < input.length; i++) {
		 		        var charCode = input.charCodeAt(i);
		 		        if (charCode >= 0xAC00 && charCode <= 0xD7A3) {
		 		            // 한글 유니코드 범위
		 		            currentLength += 2;
		 		        } else {
		 		            currentLength += 1;
		 		        }
		 		        
		 		        if (currentLength > maxLength){alert('최대 저장가능한 글자수를 초과하였습니다.'); break;}
		 		        
		 		        result += input[i];
		 		    }

		 		    this.value = result;
		 		});
		 		
			} 
			,getContractMember : (CONTRACT_ID, USER_ID) => {
				
				let contractMember = []
				
				var obj = {
						'CONTRACT_ID'		:	CONTRACT_ID,
			            'USER_ID'			: 	<@compId>.consultantUser.ID,
			            'RELATION_TYPE'		:	'EXECUTE',
				};
				contractMember.push( obj );
		        
		        $('#<@compId>_coworkList tr').each(function() {

		            var $cells = $(this).find('td');

		            var obj = {
		            	'CONTRACT_ID'		:	CONTRACT_ID,
		                'USER_ID'			: 	$cells.eq(0).attr('value'),
		                'RELATION_TYPE'		:	'COWORK',
		            };

		            contractMember.push(obj);
		        });

		         $('#<@compId>_salesManList tr').each(function() {

		            var $cells = $(this).find('td');

		            var obj = {
		                	'CONTRACT_ID'		:	CONTRACT_ID,
		                    'USER_ID'			: 	$cells.eq(1).html(),
		                    'RELATION_TYPE'		:	'SALES',
		                };

		            contractMember.push(obj);
		        });

				var obj = {
				'CONTRACT_ID'		:	CONTRACT_ID,
				'USER_ID'			: 	$('#<@compId>_suggester tr #USER_ID').attr("USER_ID"),
				'RELATION_TYPE'		:	'SUGGESTER',
				};

				contractMember.push(obj);
		        
		        return contractMember.filter( member => member.USER_ID );
		    }
			,deleteMemeberRow : ( obj ) => {
				
				C_POP.confirm('관련자 정보를 삭제하시겠습니까?', function() {
					
					const trName = $(obj).closest("tr").attr("name").replace("overriding_","");
					const userId = $(obj.parentNode.parentNode).find("#USER_ID").attr("value");
					const relationType =  trName.toUpperCase();
			
			 		switch( relationType )
					{
						case "COWORK" :
							<@compId>.addCoworkRtnData		= <@compId>.addCoworkRtnData.filter(member => member.USER_ID !== userId);
							break;
						default:
					}
			 		
			 		obj.parentNode.parentNode.remove();
				});
				
			}
			,setComponent : () => {
				
				let parm = {
					 gubun 			: "BUYER"
					,placeholder 	: "고객명(고객번호)"
					,defaultInfo	: <@compId>.updatingData
				}
				C_COMP.import("<@compId>_BUYER", "component_compSelectBuyer",parm , function(retData) {

		 			<@compId>.updatingData["BUYER_ID"] = retData["BUYER_ID"];
		 			<@compId>.updatingData["BUYER_NM"] = retData["BUYER_NM"];
					//<@compId>.memberSet();
					
				});	

				let parm2 = {
					 gubun 			: "USER"
					,placeholder 	: "사원이름(사원ID)"
					,defaultInfo	: <@compId>.updatingData
				}
				C_COMP.import("<@compId>_USER", "component_compSelectUser",parm2 , function(retData) {

					<@compId>.updatingData["USER_ID"] 	= retData["USER_ID"];
					<@compId>.updatingData["USER_NM"] 	= retData["USER_NM"];
					<@compId>.updatingData["ROLE_NM"] 	= retData["ROLE_NM"];
					<@compId>.updatingData["GRADE_NM"]	= retData["GRADE_NM"];
					<@compId>.updatingData["RECOMMENDER_ID"] 	= retData["RECOMMENDER_ID"];
					
					$("#<@compId>_salesManList td#ROLE_NM" ).html(retData["ROLE_NM"]);
					$("#<@compId>_salesManList td#USER_ID" ).html(retData["USER_ID"]);
					$("#<@compId>_salesManList td#USER_NM" ).html(retData["USER_NM"]);
					$("#<@compId>_salesManList td#GRADE_NM").html(retData["GRADE_NM"]);


					//<@compId>.memberSet();			
					
				});
		debugger;		
				let parm3 = {
						 gubun 			: "CONSULTING"
						,placeholder 	: "컨설팅명"
						,defaultInfo	: <@compId>.updatingData
				}// 이건 추가되었음.........
				C_COMP.import("<@compId>_CONSULTING", "component_compSelectConsulting",parm3 , function(retData) {
					<@compId>.updatingData["CONSULTING_ID"] 	= retData["CONSULTING_ID"];
					<@compId>.updatingData["CONSULTING_NM"] 	= retData["CONSULTING_NM"];
					const consultingNm								= retData["CONSULTING_NM"];
					const consultingTypeNm							= retData["CONSULTING_TYPE_NM"];					
					//$("#<@compId>_CONSULTING").val( `${consultingNm} ( ${consultingTypeNm} )` );
					<@compId>.updatingData["CONSULTING"] 	=  `${consultingNm} ( ${consultingTypeNm} )`;
					
					
				});	
			}
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
 
   		<@compId>.recvData			= data;
   		<@compId>.mode				= <@compId>.recvData.mode;
   		<@compId>.updatingData		= <@compId>.recvData.param;
   		
   		//컨설팅 상품이 1회성인경우 만료일은 계약일과 동일.
   		if( <@compId>.updatingData.CONSULTING_TYPE == "ONCE"){
   			
   			<@compId>.updatingData.EXPIRE_DATE = <@compId>.updatingData.CONTRACT_DATE
   			 $("#<@compId>_EXPIRE_DATE").prop("disabled",true);
   			setTimeout( ()=>{$("#<@compId>_EXPIRE_DATE + .ui-datepicker-trigger").remove();},200)
   		}
   		//컨설팅 상품이 월자문인경우 만료일은 필수입력항목.
   		if( <@compId>.updatingData.CONSULTING_TYPE == "MONTHLY"){
   			
   			$("#<@compId>_expireDateLabel").html(`<span class="required-label">만료일</span>`)
   		}
   		
   		//현 상태 저장.
   		<@compId>.processState		= <@compId>.recvData.param.PROCESS_STATE;
   		<@compId>.preProcessState	= <@compId>.recvData.param.PRE_PROCESS_STATE;
   		
   		
   		<@compId>.resulting		= <@compId>.updatingData?.RESULTING;
   		
   		<@compId>.consultingId		= <@compId>.updatingData?.CONSULTING_ID;
   		<@compId>.consultantUser	= {ID:<@compId>.updatingData?.CONSULTANT_USER_ID, 
   									   NM:<@compId>.updatingData?.CONSULTANT_USER_NM};
   		<@compId>.bFirst			= true;

   		<@compId>.setComponent();
   		
   		<@compId>.pageInit();
   		
   		<@compId>.setHandler();		
	});
</script>
<component>
  <div class="modal-body explan-table-allwrap explan-mxhgt600" style="height:540px;">
    <table class="col10" id="<@compId>_items">
      <colgroup>
        <col>
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>계약상태</th>
          <td>
				<select class="form-control form-control-sm col10" id="<@compId>_processStatus">
					<div id="<@compId>_selectProcessStatus" class="select_box" style="width:85%;"></div>
				</select>
          </td>
        </tr>
        <tr id='<@compId>_selectPendingTR'>
          <th>상태 변경</th>
          <td>
				<select class="form-control form-control-sm col10">
					<div id="<@compId>_selectPendingStatus" class="select_box" style="width:85%;"></div>
				</select>
          </td>
        </tr>
        <tr>
          <th>고객선택</th>
<!--           <td><input type="text" class="form-control form-control-sm col10 search-form" id="<@compId>_BUYER"></td> -->
          <td><div id="<@compId>_BUYER" /></td>
        </tr> 
        <tr>
          <th>계약담당자</th>
<!--           <td><input type="text" class="form-control form-control-sm col10 search-form" id="<@compId>_USER"></td> -->
          <td><div id="<@compId>_USER" /></td>
        </tr> 
         <tr>
          <th>상담일</th>
          <td style="display: flex; flex-direction: row; justify-content: space-between;">
            <input type="date" class="form-control form-control-sm col3 calender-form" id="<@compId>_CONTACT_DATE" >
          </td>
        </tr>       
         <tr>
          <th>계약일</th>
          <td style="display: flex; flex-direction: row; justify-content: space-between;">
            <input type="date" class="form-control form-control-sm col3 calender-form" id="<@compId>_CONTRACT_DATE" >
          </td>
        </tr>       
         <tr>
          <th>만료일</th>
          <td style="display: flex; flex-direction: row; justify-content: space-between;">
            <input type="date" class="form-control form-control-sm col3 calender-form" id="<@compId>_EXPIRE_DATE">
          </td>
        </tr>          
        <tr>
          <th>계약금액</th>
          <td>
            <input type="text" class="form-control form-control-sm col10" id="<@compId>_TOTAL_COST" number>
          </td>
        </tr>       
        <tr>
          <th>컨설팅 분야</th>
          <td>
            <select class="form-control form-control-sm col10">
            	<div id="<@compId>_selectConsultingClass" column = "CONSULTING_CLASS" class="select_box" style="width:100%"></div>
            </select>
          </td>
        </tr>
        <tr>
          <th>컨설팅 상품</th>
<!--           <td><input type="text" class="form-control form-control-sm col10 search-form" id="<@compId>_CONSULTING" > -->
          <td><div id="<@compId>_CONSULTING" /></td>
        </tr> 
        <tr>
          <th class="col3 col3-sm col10-xs">세무담당</th>
          <td class="col7 col7-sm col10-xs"><input type="text" class="form-control form-control-sm col10" id='<@compId>_TAX_MNG' ></td>
        </tr>
        <tr>
          <th class="col3 col3-sm col10-xs">노무담당</th>
          <td class="col7 col7-sm col10-xs"><input type="text" class="form-control form-control-sm col10" id='<@compId>_LABOR_MNG' ></td>
        </tr>
        <tr>
          <th class="col3 col3-sm col10-xs">기타전문가</th>
          <td class="col7 col7-sm col10-xs"><input type="text" class="form-control form-control-sm col10" id='<@compId>_ANOTHER_EXPERT' ></td>
        </tr>
      </tbody>
    </table>
  </div>

</component>
