<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
			
		recvData 		: []	
		,mode 			: ''
		,updatingData 	: {NEW_USER:{},NEW_BUYER:{}}
		,consultantUser	:{}
		,addCoworkRtnData : []
		,makeReturnData : () => {
			const gridObj = <@parentId>.<@compId>_coworkList.getGridInstance();
			<@compId>.addCoworkRtnData;
			console.log("GGG "+ <@compId>.addCoworkRtnData);
			
			return {};
		}
		,loadGrid1		: function(){

			const CONTRACT_ID = <@compId>.updatingData["CONTRACT_ID"]

			let sendParm = {
				gridParm : {
					requestQuery 	: {
						 queryId			: "contract.getContractMemberList"
						,requestParm		: {CONTRACT_ID 	: CONTRACT_ID,RELATION_TYPE : 'COWORK'}
					}
					,columnMap 		: {
						 "CONTRACT_ID" 		: { headerText : "CONTRACT_IDID", hidden : "Y"	}
						,"RELATION_TYPE" 	: { headerText : "RELATION_TYPE", hidden : "Y"	}
						,"USER_ID" 			: { headerText : "사원ID" 						}
						,"USER_NM" 			: { headerText : "사원이름"						}
						,"GRADE" 			: { headerText : "GRADE"		, hidden : "Y"	}
						,"GRADE_NM" 		: { headerText : "등급"							}
						,"RELATION_TYPE_NM"	: { headerText : "계약상관계"	, hidden : "Y"	}
	 					,"DEL"				: { headerText : "삭제"			, noSave : "Y"	, width : "80px"}
				 	}
					,primaryKeyList	: ["CONTRACT_ID","RELATION_TYPE","USER_ID","GRADE"]
					,columnConfig 	: {
						makeCellViewData	: {
							"DEL": function(cellText, rowData) {
								let encodedRowData = encodeURIComponent(JSON.stringify(rowData));
								return `<button class="explan_msg-del" onclick="<@compId>.deleteMemeberRow('${encodedRowData}')"/>`;
							}
						}
					}
					,rowConfig 		: {
						onClickRow : function(data) {
						//	<@compId>.onClickRowRecipe(data);
						}
					 }				
				}
			}
			
			C_COMP.import("<@compId>_coworkList", "component_compGrid",sendParm , function(tableList) {
				if( typeof callback == "function") callback(tableList);
				//무한루프 돈다.
				//let filterMap = {RELATION_TYPE:"COWORK"}
				//
				//<@parentId>.<@compId>_coworkList.filter(filterMap);
			})			
		}
		,loadGrid2		: function(){
			
			const ROLE_NM	= <@compId>.updatingData.ROLE_NM;
			const USER_ID	= <@compId>.updatingData.USER_ID;
			const USER_NM	= <@compId>.updatingData.USER_NM;
			const GRADE_NM	= <@compId>.updatingData.CONSULTANT_GRADE_NM;
			
			let tableDataList = [
				 {"ROLE_NM" : ROLE_NM, "USER_ID" : USER_ID, "USER_NM" : USER_NM, "GRADE_NM" : GRADE_NM}
			]

			let sendParm = {
				gridParm : {
					tableDataList	: tableDataList
					,columnMap		: {
						 "ROLE_NM"		: { headerText : "직책"		}
						,"USER_ID"		: { headerText : "사원ID"	}
						,"USER_NM"		: { headerText : "사원이름" }
						,"GRADE_NM"		: { headerText : "등급"		}
					}
					,primaryKeyList		: ["ROLE_NM","USER_ID","USER_NM","GRADE_NM"]
				}
			}
				
			C_COMP.import("<@compId>_salesManList", "component_compGrid",sendParm , function(tableList) {
				//if( typeof callback == "function") callback(tableList);
			})			
			
		}
		,loadGrid3		: function(){
			
			let recommId	= <@compId>.updatingData["RECOMMENDER_ID"]
			if(isEmpty(recommId) ){
				recommId 	= 'NoRecommener';
			}
			let sendParm = {
				gridParm : {
					requestQuery 	: {
							queryId			: "system.getUser"
							,requestParm	: {USER_ID : recommId}
						 }
					,columnMap 		: {
							 "ROLE_NM" 		: { headerText : "직책"		}
							,"USER_ID" 		: { headerText : "사원ID"	}
							,"USER_NM" 		: { headerText : "사원이름" }
							,"GRADE_NM"		: { headerText : "등급"		}
					}
					,primaryKeyList			: ["ROLE_NM","USER_ID","USER_NM","GRADE_NM"]
				}
			}
				
			C_COMP.import("<@compId>_suggester", "component_compGrid",sendParm , function(tableList) {
				//if( typeof callback == "function") callback(tableList);
			})			
			
		}
		,pageInit 		: () => {
				
			$("#<@compId>_CONSULTANT_NM").text("담당 컨설턴트 : "+ <@compId>.consultantUser.NM);
					
		}		
		,setHandler 	: () => {

	 		$("#<@compId>_addCowork").on('click', (event) => {

				event.preventDefault();
				const CONTRACT_ID	= 	<@compId>.updatingData["CONTRACT_ID"] ;
				const USER_ID		=	<@compId>.userId ;
				const contractMember= 	<@compId>.getContractMember(CONTRACT_ID, USER_ID);

				let param = {"ALL_MEMBERS": contractMember};
				C_POP.open('popup_common_memberSearchPopup', {param:param, gubun:'COWORK'}, function(retData) {

					if( isEmpty(retData) == false ){
						<@compId>.addCoworkRtnData.push( retData );
debugger;						
				 		const gridObj = <@parentId>.<@compId>_coworkList.getGridInstance();
				 		gridObj.addNewRow( retData );
					}
				});
				
			})
	 		
		} 
		,getContractMember : (CONTRACT_ID, USER_ID) => {
			
			let contractMember = []
			
			var obj = {
					'CONTRACT_ID'		:	CONTRACT_ID,
		            'USER_ID'			: 	<@compId>.consultantUser.ID,
		            'RELATION_TYPE'		:	'EXECUTE',
			};
			contractMember.push( obj );
	        
	        $('#<@compId>_coworkList tr').each(function() {

	            var $cells = $(this).find('td');

	            var obj = {
	            	'CONTRACT_ID'		:	CONTRACT_ID,
	                'USER_ID'			: 	$cells.eq(0).attr('value'),
	                'RELATION_TYPE'		:	'COWORK',
	            };

	            contractMember.push(obj);
	        });

	         $('#<@compId>_salesManList tr').each(function() {

	            var $cells = $(this).find('td');

	            var obj = {
	                	'CONTRACT_ID'		:	CONTRACT_ID,
	                    'USER_ID'			: 	$cells.eq(1).html(),
	                    'RELATION_TYPE'		:	'SALES',
	                };

	            contractMember.push(obj);
	        });

	         //$('#<@compId>_suggester').getGridData();
	         //<@compId>
	         
			var obj = {
			'CONTRACT_ID'		:	CONTRACT_ID,
			'USER_ID'			: 	$('#<@compId>_suggester tr #USER_ID').attr("USER_ID"),
			'RELATION_TYPE'		:	'SUGGESTER',
			};

			contractMember.push(obj);
	        
	        return contractMember.filter( member => member.USER_ID );
	    }	
		,deleteMemeberRow : ( encodedRowData ) => {
			
			C_POP.confirm('관련자 정보를 삭제하시겠습니까?', function() {
				
				const selectedRow	= JSON.parse(decodeURIComponent(encodedRowData));
				const userId		= selectedRow.USER_ID;
				const relationType	= selectedRow.RELATION_TYPE;
		
		 		switch( relationType )
				{
					case "COWORK" :
						<@compId>.addCoworkRtnData		= <@compId>.addCoworkRtnData.filter(member => member.USER_ID !== userId);
						break;
					default:
				}
		 		
		 		const gridObj = <@parentId>.<@compId>_coworkList.getGridInstance();
		 		gridObj.deleteRow();
		 		
			});
			
		}
		
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		<@compId>.recvData			= data;
		<@compId>.mode				= <@compId>.recvData.mode;
		<@compId>.updatingData		= <@compId>.recvData.param;
		
		
		<@compId>.consultantUser	= {ID:<@compId>.updatingData?.CONSULTANT_USER_ID, 
									   NM:<@compId>.updatingData?.CONSULTANT_USER_NM};
		
		<@compId>.loadGrid1();
		<@compId>.loadGrid2();
		<@compId>.loadGrid3();
		
		<@compId>.pageInit();
	
		<@compId>.setHandler();
	});
</script>
<component>
	<div class="body-inwrap01 mt20" >
	    <div class="card-allwrap col10-gap col5-md col10-sm mb-md-25 mb-sm-25 ml10 mr10 mt10" style="min-height:50px">
	        <div class="card-inwrap p10" id="<@compId>_CONSULTANT_NM">
	        	담당 컨설턴트 :
	        </div>
	    </div>
	    <div class="card-allwrap col10-gap col5-md col10-sm mb-md-25 mb-sm-25 ml10 mr10 explan-mxhgt170 mt10">
	        <div class="card-inwrap">
		        <div class="card-tit-wrap" style="height:35px">
		            <div class="card-tit">코웍 사원 등록</div>
					<div class="card-btn">
						<button class="" type="button"  id="<@compId>_addCowork">추가</button>
					</div>
		        </div>
		        <div class="card-cnt-wrap" style="height:124px">
		            <div class="table-allwrap h100p">
		            <!-- table start -->
		            <component id="<@compId>_coworkList"></component>
		            <!-- table end -->            
		            </div>
		        </div>
	        </div>
	    </div>
	    <div class="card-allwrap col10-gap col5-md col10-sm mb-md-25 mb-sm-25 ml10 mr10 explan-mxhgt170 mt10">
	        <div class="card-inwrap">
		        <div class="card-tit-wrap" style="height:35px">
		            <div class="card-tit">영업 담당사원</div>
		        </div>
		        <div class="card-cnt-wrap" style="height:124px">
		            <div class="table-allwrap h100p">
		            <!-- table start -->
		            <component id="<@compId>_salesManList"></component>
		            <!-- table end -->            
		            </div>
		        </div>
	        </div>
	    </div>
	    <div class="card-allwrap col10-gap col5-md col10-sm mb-md-25 mb-sm-25 ml10 mr10 explan-mxhgt170 mt10">
	        <div class="card-inwrap">
		        <div class="card-tit-wrap" style="height:35px">
		            <div class="card-tit">추천인</div>
		        </div>
		        <div class="card-cnt-wrap" style="height:124px">
		            <div class="table-allwrap h100p">
		            <!-- table start -->
		            <component id="<@compId>_suggester"></component>
		            <!-- table end -->            
		            </div>
		        </div>
	        </div>
	    </div>
	</div>

</component>
