<meta charset="utf-8">
<script type="text/javascript">
	var <@pageId> = {

			
	}
	// Page Load가 완료된후 실행 된다.
	C_PM.onLoadPage("<@pageId>", function() {

		// 상단 Title 및 메뉴 Path 처리 시작
		// 상단 Title 및 메뉴 Path 처리 시작
		// 상단 Title 및 메뉴 Path 처리 시작
		C_COMP.import("<@pageId>_breadcrumb", "component_compBreadcrumb",{} , function() {});
		
		// 상단 Title 영역
		C_COMP.import("<@pageId>_titleArea", "component_compTitleArea",{} , function() {});

		// 상단 Title 및 메뉴 Path 처리 끝
		// 상단 Title 및 메뉴 Path 처리 끝
		// 상단 Title 및 메뉴 Path 처리 끝
		
		
		
		let gridParm = {
			tableName		: "TBL_EXP_BUYER"
				,columnMap 		: {
					 "BUYER_ID" 	: { headerText : "고객ID" }  // ifNewAutoSet = "random" 인경우 값이 숨겨져 있기 때문에 새로운 Row Insert시 값 랜덤값 Setting
					,"BUYER_NM" 	: { headerText : "고객명" }
				 }
				,columnConfig 	: {

				 }
				,rowCntId		: "<@pageId>_rowCnt"
				,primaryKeyList	: ["BUYER_ID"]
				//,readOnly		: "Y"
		}
		
		C_COMP.import("<@pageId>_editor", "component_compGrid",{gridParm : gridParm} , function() {});		
	
	});
	// History back으로 이동해왔을 경우 이루틴이 실행된다.
	C_HM.onReturn("<@pageId>", function(pageId, data) {

	});
</script>
<page-component>

	<!--  상단 Title 및 메뉴 Path 처리 시작
		  상단 Title 및 메뉴 Path 처리 시작
		  상단 Title 및 메뉴 Path 처리 시작  -->

    <!-- breadcrumb start -->
	<compnent id="<@pageId>_breadcrumb"></compnent>    
    <!-- breadcrumb end -->

    <!-- sub title + button start -->
	<compnent id="<@pageId>_titleArea"></compnent>    
    <!-- sub title + button end -->

	<!--  상단 Title 및 메뉴 Path 처리 끝
		  상단 Title 및 메뉴 Path 처리 시작
		  상단 Title 및 메뉴 Path 처리 시작  -->


    
	<!-- search filter box start -->
	<div class="display-between display-sm-between">
		<div class="col4-md col10-sm display-h-end">
			<span class="col2-sm w80px mb3">검색어</span>
			<input type="text" class="form-control form-control-sm mr5" id="searchValue" onEnter="<@pageId>.reload()">
			<button class="srch-btn" type="button" onclick="<@pageId>.reload()">검 색</button>
		</div>

		<div class="display-w-end col4 col4-md col10-sm">
			<span class="col2-sm w120px txt-r mr10">Total : <span class="txt-red" id="<@pageId>_rowCnt"></span></span>
			&nbsp;&nbsp;<button class="flat-btn col2-sm" type="button" onclick="<@pageId>.openEdit()">편집</button>
		</div>
	</div>
	<!-- search filter box end --> 

    <!-- table area start -->
	<compnent id="<@pageId>_editor"></compnent>    
    <!-- table area end -->

</page-component>