<meta charset="utf-8">
<script type="text/javascript">
	var <@pageId> = {
		 brandId	: G_VAL.session.BRAND_ID
		,loadComponent : function(parm) {
			let sendParm = {
				gridParm : {
					 tableName		: "TBL_EXP_SAMPLE2"
					,columnMap 		: {
						 "ITEM_ID" 		: { headerText : "아이템ID"		}  // ifNewAutoSet = "random" 인경우 값이 숨겨져 있기 때문에 새로운 Row Insert시 값 랜덤값 Setting
						,"ITEM1" 		: { headerText : "아이템1"		}
						,"ITEM2" 		: { headerText : "아이템2"		}
						,"ITEM3" 		: { headerText : "아이템3"		}
					 }
					,columnConfig 	: {
					 }
					,primaryKeyList		: ["ITEM_ID"]
					,searchColumnList	: ["ITEM_ID"]		
					,orderColumnList 	: ["ITEM_ID"]		
				 }
				//,noEdit : "Y"
				
				// Edit 버튼에 대한 Overide처리
				//,callbackEditButton : function(parm) {
				//	<@pageId>.openEditMultiTable();
				// }
				

			}
			C_COMP.import("brandMenuManageGrid", "component_compTableEditor",sendParm , function() {});		
		 }
	}
	// Page Load가 완료된후 실행 된다.
	C_PM.onLoadPage("<@pageId>", function(parm) {
		<@pageId>.loadComponent(parm);
	});
	// History back으로 이동해왔을 경우 이루틴이 실행된다.
	C_HM.onReturn("<@pageId>", function(pageId, data) {

	});
</script>
<page-component>
    <!-- table area start -->
	<compnent id="brandMenuManageGrid"></compnent>    
    <!-- table area end -->
</page-component>