<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {

	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		
		// Select box 설정 Sample
        var selectList = C_COM.getCodeList("PRODUCT_CLASS");
		
   		var singleboxList = { 
			 data 			: selectList
		 	,targetId 		: "singleselectbox"
		 	,defaultItem	: [""	, "ALL"	]	// 생략 가능
		 	,defaultVal		: "ETC"				// 생략 가능
		}
		C_UICOM.makeSelectBox(singleboxList, "single");
		
	});
</script>
<component>
  <div class="modal-body explan-table-allwrap explan-mxhgt400">
    <table class="col10">
      <colgroup>
        <col>
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th class="col3 col3-sm col10-xs">제목</th>
          <td class="col7 col7-sm col10-xs"><input type="text" class="form-control form-control-sm col10" ></td>
        </tr>
        <tr>
          <th>업무 유형</th>
          <td class="col7 col7-sm col10-xs">
          	<input type="text" class="form-control form-control-sm col10 search-form" onClickRightIcon="alert(this.value)"/>
          </td>
        </tr>
        <tr>
          <th>일정</th>
          <td style="display: flex; flex-direction: row; justify-content: space-between;">
            <input type="date" class="form-control form-control-sm col3 calender-form">
            ~
            <input type="date" class="form-control form-control-sm col3 calender-form">
            <select class="form-control form-control-sm col3">
              <option>반복 안 함</option>
              <option>반복 안 함</option>
              <option>반복 안 함</option>
            </select>               
          </td>
        </tr>
        <tr>
          <th>시간</th>
          <td style="display: flex; flex-direction: row; justify-content: space-between;">
            <select class="form-control form-control-sm col2 mr5">
              <option>00</option>
              <option>00</option>
              <option>00</option>
            </select>
            <select class="form-control form-control-sm col2 mr5">
              <option>00</option>
              <option>00</option>
              <option>00</option>
            </select>
            <span class="mr5">~</span>
            <select class="form-control form-control-sm col2 mr5">
              <option>01</option>
              <option>01</option>
              <option>01</option>
            </select>
            <select class="form-control form-control-sm col2 mr10">
              <option>00</option>
              <option>00</option>
              <option>00</option>
            </select>
            <span class="col2 ml-10 mt5"><input type="checkbox"> 종일</span>
          </td>
        </tr>
        <tr>
          <th>위치</th>
          <td><input type="text" class="form-control form-control-sm col10"></td>
        </tr>
        <tr>
          <th>프로젝트</th>
          <td><input type="text" class="form-control form-control-sm col10 search-form"></td>
        </tr> 
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>공개 여부</th>
          <td>
            <select class="form-control form-control-sm col3">
              <option>비공개</option>
              <option>비공개</option>
              <option>비공개</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>설명 추가</th>
          <td><textarea id="" name="" rows="6" cols="" class="msg-cnt-textarea col10 msg-cnt" placeholder="설명 추가"></textarea></td>
        </tr>                                                                                                          
      </tbody>
    </table>
  </div>

</component>
