<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 selectedCheck :{ "grpCodeList": [],"normalCodeList": [] }
		,getItems : (loc) => {
				const requestParm = {};
				const updateItems = $("#"+loc+" input:not([type='radio'])");
				
				const valuesArray = updateItems.map(function() {
				    return { name: this.name, value: ""+$(this).val() };
				}).get();
				
				valuesArray.forEach(function(item) {
					requestParm[item.name] = item.value;
				});
	
				return requestParm;
				
		}
		,showObject : (obj, loc) => {
			try{
				var keys = Object.keys(obj);
			    for (var i=0; i<keys.length; i++) {
			    	var key = keys[i];
			    	$("#<@compId>_" + key).html(obj[key]);
			    	$(".<@compId>_" + key).html(obj[key]);
			    }
			} catch(e) {
				
			}
		}
		,showList : (targetId, dataList) => { 
			const rpm = {
					 targetId 		: targetId
					,list			: dataList  
				}
			C_COM.renderHtml("<@compId>", rpm);
		}
		,selectQueryGroup : function(pmt, callback) {
			var parm = {
				queryGroup : [
					{
						 queryId 			: "valuation.getValuationReference"
						,requestParm		: pmt
					}
				]
			}
			C_COM.requestQuery(parm, function(resultData) {
				<@compId>.showList("<@compId>_getValuationReference01", resultData.data['valuation.getValuationReference']);
				<@compId>.showList("<@compId>_getValuationReference02", resultData.data['valuation.getValuationReference']);
				<@compId>.showList("<@compId>_getValuationReference03", resultData.data['valuation.getValuationReference']);
				<@compId>.showList("<@compId>_getValuationReference04", resultData.data['valuation.getValuationReference']);
				<@compId>.showList("<@compId>_getValuationReference05", resultData.data['valuation.getValuationReference']);				
			});
		 }
		,goPage : (compId,rowId) => {
	
			const $tds = $(`[name='<@compId>_tr_${rowId}']`)
			const jsonObject = {};
	
			jsonObject['BOARD_MST_ID'] = $("#BOARD_MST_ID").val();
			
			$tds.children("td").each(function() {
				
			    const id = this.id;
			    const value = $(this).text().trim();
				if( id )
			    	jsonObject[id] = value;
			});
	
			C_PM.movePage( compId.trim(), jsonObject );
			
		}
		,setHandler : () => {
		}		
		,setEachColumnValue : (loc, arr ,grp) => {
		}
		,fnRadioCheckValue : (loc, name , pValue) => {
		}
		,generalCompareEdit : () => {
			let parm = {
				 gridParm 	: {
					 tableName		: "TBL_EXP_FIN_ANAL_STOCKHOLDER"
					,columnMap 		: {
						 "BUYER_ID" 			: { headerText : "BUYER_ID"	}  // ifNewAutoSet = "random" 인경우 값이 숨겨져 있기 때문에 새로운 Row Insert시 값 랜덤값 Setting
						,"SEQ" 					: { headerText : "연번"	}
						,"STOCKHOLDER_NM" 		: { headerText : "주요주주"	}
						,"STOCK_CNT" 			: { headerText : "주식수"	}
						,"SHARE_RATIO" 			: { headerText : "지분율"	}
						,"STOCK_KIND" 			: { headerText : "주식종류"	}
						,"OWNER_RELATIONSHIP" 	: { headerText : "경영실권자와의 관계"	}
						,"COMPANY_RELATIONSHIP" : { headerText : "회사와의 관계"	}
						,"BORROWED_NM_YN" 		: { headerText : "차명주주 여부"	}
					 }
					 // Header가 두줄인경우, 같은이름으로 Grouping한다.
					,columnConfig 	: {
					 }
					 /*
					,rowConfig		: {
						onClickRow : function(rowObj) {
							dalert(rowObj);
						}
					 }
					,gridConfig : {
						width : ""	
					 }
					 */
					,primaryKeyList		: ["BUYER_ID", "SEQ"]
					,searchColumnList	: ["BUYER_ID", "SEQ"]		// Table 지정인경우 적용
					//,orderColumnList 	: ["GROUP_1 ASC", "GROUP_2 ASC"]				// Table 지정인경우 적용
					//,checkbox			: "show"
					//,ordernum			: "hide"
					//,readOnly			: "Y"
					//,gridWidth		: "2000px"
					,filterWhere		: `BUYER_ID = '${G_VAL.session.BUYER_ID}'`
				 }
				,popupTitle : `주주 및 임원`
				,size 		: "MAX"
			}
			C_POP.open("popup_common_tableEditPopup", parm, function(retData){
				if(isValid(retData)) {
					if(retData.refresh == "Y") {
						<@compId>.reload();
					}
				}
			});
		 },
	}

	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		//debugger;
		data.BUYER_ID = G_VAL.session.BUYER_ID;
		<@compId>.selectQueryGroup(data);

		// 20250211 
		// code by 위성열
		// Main Widget 처리
		C_WIDGET.getWidgetList(<@compId>.compTemplateId, function(widgetList) {
			C_WIDGET.setWidgetState("<@compId>", widgetList);
		});
	
	});
</script>
<component>
<div class="pop_tab_content_box fx-col2 fx-col2-md">
    <div class="col4 col10-md col10-sm" wgtframe5="<@compTemplateId>">
        <div class="mt10 mb5 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1" id="<@compTemplateId>_grp1_title">
            <div class="biz-subTitle">
                주식 양도소득 세율
                <div class="ml20">
                    <label class="star-wrap">
                        <input type="checkbox" id="<@compTemplateId>_grp1_cb" onclick="C_WIDGET.updateWidgetState('<@tabTitle>', this.checked, <@compId>.compId, '<@compTemplateId>_grp1')"/>
                        <span class="star"></span>
                    </label>
                    <button class="msg-edit"></button>
                </div>
            </div>
        </div>     
        <div class="tab-card-outline">
            <div class="table-allwrap table-line tb-div-h03">
                <!-- table start -->
                <table class="table-inwrap">
                    <colgroup>
                        <col width="">
                        <col width="150px">
                        <col width="80px">                
                    </colgroup>
                    <thead class="table-thead">
                        <tr>
                            <th colspan="2">비상장 주식</th>
                            <th>세율</th>
                        </tr>
                    </thead>
                    <tbody id="<@compId>_getValuationReference01">
                    </tbody>
                    <script type="text/x-jsrender" id="<@compId>_getValuationReference01_template">
	 	               {{for list}}
					      {{if GUBUN_NAME == '주식양도소득세율'}}
                       <tr>
                          <td>{{:ITEM01_DESC}}</td>
                          <td>{{:ITEM02_DESC}}</td>
                          <td class="bg-num">{{:ITEM03_DESC*100}}%</td>
                       </tr>
                          {{/if}}
                       {{/for}}
                    </script>
                    <script type="text/x-jsrender" id="<@compId>_getValuationReference01_noData_template">
					   <tr>	
					      <td colspan=3>자료가 없습니다.</td>	
					   </tr>
					</script>
					</tbody>
                </table>
                <!-- table end -->            
            </div>
        </div>
        <div class="caption reference mt10" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1">주식양도 소득공제 연 250만원(해외주식 합산)</div>
        <div class="caption reference" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1">양도소득세의 10%를 지방소득세로 별도 납부</div>
        <div class="caption reference mb20" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1">비상장법인 소액주주가 K-OTC를 통해 양도하는 주식은 과세대상 제외</div>
        <div class="mt10 mb5 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp2" id="<@compTemplateId>_grp2_title">
            <div class="biz-subTitle">
                대주주 구분
                <div class="ml20">
                    <label class="star-wrap">
                        <input type="checkbox" id="<@compTemplateId>_grp2_cb" onclick="C_WIDGET.updateWidgetState('<@tabTitle>', this.checked, <@compId>.compId, '<@compTemplateId>_grp2')"/>
                        <span class="star"></span>
                    </label>
                    <button class="msg-edit"></button>
                </div>
            </div>
        </div>     
        <div class="tab-card-outline" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp2">
            <div class="table-allwrap table-line tb-div-h03">
                <!-- table start -->
                <table class="table-inwrap">
                    <colgroup>
                        <col width="">
                        <col width="">            
                    </colgroup>
                    <thead class="table-thead">
                        <tr>
                            <th>비상장 주식</th>
                            <th>구분 조건</th>
                        </tr>
                    </thead>
                    <tbody id="<@compId>_getValuationReference03">
                    </tbody>
                    <script type="text/x-jsrender" id="<@compId>_getValuationReference03_template">
                       {{for list}}
                          {{if GUBUN_NAME == '대주주구분'}}
                       <tr>
                          <td>{{:ITEM01_DESC}}</td>
                          <td>{{:ITEM02_DESC}}</td>
                       </tr>
                          {{/if}}
                       {{/for}}
                    </script>
					<script type="text/x-jsrender" id="<@compId>_getValuationReference03_noData_template">
					   <tr>	
					      <td colspan=2>자료가 없습니다.</td>	
					   </tr>
					</script>
					</tbody>
                </table>
                <!-- table end -->            
            </div>
        </div>
        <div class="caption reference mt10" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp2">>주 1) 언제라도 지분율 기준에 넘어가면 대주주에 해당</div>
        <div class="caption reference mb20" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp2">>주 2) 양도일의 직전 연도 말일 주식 가치 평가기준</div>                          
    </div>
    <div class="col4 col10-md col10-sm" wgtframe5="<@compTemplateId>">
        <div class="mt10 mb5 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp3" id="<@compTemplateId>_grp3_title">
            <div class="biz-subTitle">
                상속. 증여세율
                <div class="ml20">
                    <label class="star-wrap">
                        <input type="checkbox" id="<@compTemplateId>_grp2_cb" onclick="C_WIDGET.updateWidgetState('<@tabTitle>', this.checked, <@compId>.compId, '<@compTemplateId>_grp3')"/>
                        <span class="star"></span>
                    </label>
                    <button class="msg-edit"></button>
                </div>
            </div>
        </div>     
        <div class="tab-card-outline" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp3">
            <div class="table-allwrap table-line tb-div-h03">
                <!-- table start -->
                <table class="table-inwrap">
                    <colgroup>
                        <col width="">
                        <col width="80px">
                        <col width="120px">                
                    </colgroup>
                    <thead class="table-thead">
                        <tr>
                            <th>과세 표준</th>
                            <th>세율</th>
                            <th>누진 공제액</th>
                        </tr>
                    </thead>
                    <tbody id="<@compId>_getValuationReference02">
                    </tbody>
                    <script type="text/x-jsrender" id="<@compId>_getValuationReference02_template">
                       {{for list}}
                          {{if GUBUN_NAME == '상속·증여세율'}}
                       <tr>
                          <td>{{:ITEM01_DESC}}</td>
                          <td class="bg-num">{{:ITEM02_DESC*100}}%</td>
                          <td>{{:ITEM03_DESC}}</td>
                       </tr>
                          {{/if}}
                       {{/for}}
                    </script>
					<script type="text/x-jsrender" id="<@compId>_getValuationReference02_noData_template">
					   <tr>	
					      <td colspan=3>자료가 없습니다.</td>	
					   </tr>
					</script>
					</tbody>
                </table>
                <!-- table end -->            
            </div>
        </div>
        <div class="caption reference mt10 mb20" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp3">세대생략시(조부 <span class="rt-arrow"></span> 손자) 30% 할증과세, 신고세액 공제 3%</div>
        <div class="mt10 mb5 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp4" id="<@compTemplateId>_grp4_title">
            <div class="biz-subTitle">
                증여재산 공제액
                <div class="ml20">
                    <label class="star-wrap">
                        <input type="checkbox" id="<@compTemplateId>_grp2_cb" onclick="C_WIDGET.updateWidgetState('<@tabTitle>', this.checked, <@compId>.compId, '<@compTemplateId>_grp4')"/>
                        <span class="star"></span>
                    </label>
                    <button class="msg-edit"></button>
                </div>
            </div>
        </div>     
        <div class="tab-card-outline" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp4">
            <div class="table-allwrap table-line tb-div-h03">
                <!-- table start -->
                <table class="table-inwrap">
                    <colgroup>
                        <col width="">
                        <col width="">            
                    </colgroup>
                    <thead class="table-thead">
                        <tr>
                            <th>구분</th>
                            <th>10년 단위 공제액</th>
                        </tr>
                    </thead>
                    <tbody id="<@compId>_getValuationReference04">
                    </tbody>
                    <script type="text/x-jsrender" id="<@compId>_getValuationReference04_template">
                       {{for list}}
                          {{if GUBUN_NAME == '증여재산공제액'}}
                       <tr>
                          <td>{{:ITEM01_DESC}}</td>
                          <td>{{:ITEM02_DESC}}</td>
                       </tr>
                          {{/if}}
                       {{/for}}
                    </script>
					<script type="text/x-jsrender" id="<@compId>_getValuationReference04_noData_template">
					   <tr>	
					      <td colspan=2>자료가 없습니다.</td>	
					   </tr>
					</script>
					</tbody>
                </table>
                <!-- table end -->            
            </div>
        </div>
        <div class="caption reference mt10 mb20" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp4">수증자가 비거주자일 경우 공제 제외</div> 
    </div>                            
    <div class="col2 col10-md col10-sm tab-card-outline w240" wgtgrp="<@compTemplateId>">
        <div class="add-file-wrap">
            <div class="biz-subTitle">Check Point</div>
        </div>
        <div class="checkpoint-wrap">
            <h4 class="checkpoint-subTitle">증권 거래세</h4>
            <p>비상장 주식 양도시 양도금액에 대해 증권거래세 0.35%를 잊지 말고 납부해야 합니다.</p>
            <h4 class="checkpoint-subTitle mt20">상장주식 양도시 세금</h4>
            <p>상장주식의 경우 2025년 부터 5,000만원 초과 양도 차익에 대해 20~25%의 금융투자 소득세가 부과 됩니다.</p>
        </div>
    </div>               
</div>
<!-- 비상장주식 양도증여시 세금 area end -->
</component>