<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {

            BRAND_ID : ''
           ,pageInit : () => {
        	   var now = new Date();   // 현재 날짜 및 시간
               var thisYear = now.getFullYear();   // 연도
               var thisMonth = (now.getMonth() + 1).toString().padStart(2, '0');
               
               var startDate = new Date();
               startDate.setFullYear(startDate.getFullYear() - 5);// 현재년도의 과거 5년
               var startYear = startDate.getFullYear();   // 연도
               
               const yearsArray = Array.from({ length: 6 }, (_, index) => {
                     const year = startYear + index;
                     return [year.toString(), year ];
               });
               
               
               const monthsArray = Array.from({ length: 12 }, (_, index) => {
                     const months = ("0"+(1 + index) ).slice(-2);
                     return [months.toString(), months ];
               });

               var startYearsArrayList = { data : yearsArray,targetId : "<@compId>_years"}
               C_UICOM.makeSelectBox(startYearsArrayList, "single");
               C_UICOM.setSingleBox("<@compId>_years", thisYear);
               
               var startMonthsArrayList = { data : monthsArray,targetId : "<@compId>_selectBoxMonth"}
               C_UICOM.makeSelectBox(startMonthsArrayList, "single");
               C_UICOM.setSingleBox("<@compId>_selectBoxMonth", thisMonth);
               
                     
               // 과목
               var subjectList = C_COM.getCodeList("FINANCIAL_SUBJECT");
               var selectBoxSubjectList = { 
                    data : subjectList
                   ,targetId : "<@compId>_selectBoxSubjectList" 
               }
               C_UICOM.makeSelectBox(selectBoxSubjectList, "single");
               
               /*
               C_UICOM.addChangeListener("<@compId>_selectBoxMonth", function(dataObj) {
                   <@compId>.month = dataObj;
               });
               
               C_UICOM.addChangeListener("<@compId>_selectBoxStoreList", function(dataObj) {
                   <@compId>.store = dataObj;
               });

               C_UICOM.addChangeListener("<@compId>_selectBoxSubjectList", function(dataObj) {
                   <@compId>.subject = dataObj;
               });
               */
               <@compId>.brandIdSet(<@compId>.BRAND_ID);
                
            }
           ,onChangeRegion : function(selectDom) {


               var region  = C_UICOM.getData("<@compId>_selectBoxRegion");
              
               
               let requestParm = {};
               requestParm["brandId"]  = <@compId>.BRAND_ID ;
               requestParm["region"]   = region ;
               
               var parm1 = {
                       queryId  : "dashboardCorPerformance.getStore"
                      ,requestParm   : requestParm
               }
               
               C_COM.requestQuery(parm1, function(resultData) {
                   
                   const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                   
                   var selectBoxStoreList = {
                           defaultItem    : ["ALL", "전체"]
                          ,data : DATA
                          ,targetId : "<@compId>_selectBoxStoreList"
                   }
                   
                   C_UICOM.makeSelectBox(selectBoxStoreList, "single");
               });
           }
            ,brandIdSet : (brandId) => {
                <@compId>.BRAND_ID = brandId;
                // 권역
                var regionList = C_COM.getBrandCodeList( brandId , "STORE_REGION");                
                var selectBoxRegionList = { 
                     defaultItem    : ["ALL", "전체"] 
                    ,data : regionList
                    ,targetId : "<@compId>_selectBoxRegion" 
                }
                C_UICOM.makeSelectBox(selectBoxRegionList, "single");
                <@compId>.region = "ALL";
                
                // 지점
                let requestParm1 = {};
                requestParm1["spCstmId"] = G_VAL.session.spCstmId ;
                requestParm1["brandId"]  = <@compId>.BRAND_ID ;

                var parm1 = {
                        queryId  : "dashboardCorPerformance.getStore"
                       ,requestParm   : requestParm1
                }

                C_COM.requestQuery(parm1, function(resultData) {
                    
                    const DATA = resultData.data.map( item => [ item.CODE_ID, item.CODE_NM ]);
                    
                    var selectBoxStoreList = {
                            defaultItem    : ["ALL", "전체"]
                           ,data : DATA
                           ,targetId : "<@compId>_selectBoxStoreList" 
                    }
                    
                    C_UICOM.makeSelectBox(selectBoxStoreList, "single");
                    <@compId>.searchBtn();  
                });              
            }


        /* 1-1 ####### 매출액 순위    매출액 순위    매출액 순위    매출액 순위    매출액 순위    매출액 순위    */
          
        ,searchBtn : function(selectDom) {
                console.log("searchBtn 1 ");

                var brandId     = <@compId>.BRAND_ID;
                var years   = C_UICOM.getData("<@compId>_years");
                var month   = C_UICOM.getData("<@compId>_selectBoxMonth");
                var storeCd = C_UICOM.getData("<@compId>_selectBoxStoreList");
                var subject = C_UICOM.getData("<@compId>_selectBoxSubjectList");
                
                if(brandId == undefined){
                    C_POP.alert("브랜드가 없습니다.");
                    return;
                }

                let requestParm = {};
                requestParm["brandId"]   = brandId;
                requestParm["storeCd"]   = storeCd;
                requestParm["year"]      = years;
                requestParm["month"]     = month;
                requestParm["subject"]   = subject;


                var parm = {
                        queryId  : "dashboardCorPerformance.getFinancial"
                       ,requestParm   : requestParm
                }
       
                C_COM.requestQuery(parm, function(resultData) {
                    var rparm = {
                        targetId       : "<@compId>_tableId"
                       ,list           : resultData.data
                    }
                    C_COM.renderHtml("<@compId>", rparm);
                });

            }
        }
        // Component Load가 완료된후 실행 된다.
        C_COMP.onLoadComp("<@compId>", function(parm) {
    
    
            <@compId>.BRAND_ID = parm.brandId;
            
            if(isEmpty(<@compId>.BRAND_ID)){
                <@compId>.BRAND_ID = G_VAL.session.BRAND_ID;
            } 
            
            <@compId>.pageInit();
            
			// 20250211 
			// code by 위성열
			// Main Widget 처리
			C_WIDGET.getWidgetList(<@compId>.compTemplateId, function(widgetList) {
				C_WIDGET.setWidgetState("<@compId>", widgetList);
			});
            
        });
</script>
<component>
            
  <!-- body-contents start -->
    <div class="pop_tab_content_box">
        <!-- title start -->
        <div class="mt10 mb5 mt30 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1" id="<@compTemplateId>_grp1_title">
            <div class="biz-subTitle">
                현황재무제표
                <div class="ml20">
                    <label class="star-wrap">
	                    <input type="checkbox" id="<@compTemplateId>_grp1_cb" onclick="C_WIDGET.updateWidgetState('<@tabTitle>', this.checked, <@compId>.compId, '<@compTemplateId>_grp1')"/>
                        <span class="star"></span>
                    </label>
                    <!-- 
                    <button class="msg-edit"></button>
                     -->
                </div>
            </div>
        </div>
        <!-- title end -->
        <!-- search filter box start -->
        <div class="srch-card mt10">
            
            <div class="srch-card-inwrap">
                <div class="col9 col10-sm srch-card-form">
                
                    <div class="col2 col2-md col10-sm display-h-end mb5">
                        <select class="form-control form-control-sm col6 mr5" id="<@compId>_years" >
                        </select>&nbsp;&nbsp;
                        <select class="form-control form-control-sm col4" id="<@compId>_selectBoxMonth" >
                        </select>
                        
                    </div>
                    <div class="col5 col5-md col10-sm display-h-end mb5">
                        <label class="src-title">권역</label>
                        <select class="form-control form-control-sm col5 mr5" id="<@compId>_selectBoxRegion"  onChange="<@compId>.onChangeRegion(this)">
                        </select>
                        <select class="form-control form-control-sm col5" id="<@compId>_selectBoxStoreList" >
                        </select>
                    </div> 
                    <div class="col3 col3-md col10-sm display-h-end mb5">
                        <label class="src-title">과목</label>
                        <select class="form-control form-control-sm col10" id="<@compId>_selectBoxSubjectList"> 
                        </select>
                    </div>
                </div>
                <div class="col1 col10-sm display-h-end pl-lg-15 mb5">
                    <button class="srch-btn col10" type="button" onclick="<@compId>.searchBtn()">검 색</button>
                </div>
            </div>
        </div>
        <!-- search filter box end -->

        <!-- table area start -->
        <div class="tb-card-allwrap col10 mt10">
          <div class="card-inwrap">
            <div id="tb-scroll" class="card-cnt-wrap">
              <div class="table-allwrap ">
                <!-- table start -->
                <table class="table-inwrap">
                  <colgroup>
                    <col width="16%">
                    <col width="*" class="hide-area">
                    <col width="16%" class="hide-area">
                    <col width="16%">                    
                    <col width="16%">
                    <col width="16%">                    
                  </colgroup>
                  <thead class="table-thead">
                    <tr>
                      <th scope="col">Num</th>
                      <th scope="col" class="hide-area">월</th>
                      <th scope="col" class="hide-area">가맹점명</th>
                      <th scope="col">과목</th>
                      <th scope="col">비율</th>
                      <th scope="col">계(단위: 만원)</th>
                    </tr>
                  </thead>
                  <tbody id="<@compId>_tableId">
                  </tbody>
                  <script type="text/x-jsrender" id="<@compId>_tableId_template">    
                      {{for list}}
                          <tr id="trId_{{:#index}}" name="<@compId>_tr_{{:#index}}" '>
                              <td>{{:#index + 1}}</td>
                              <td>{{:MONTH}}</td>
                              <td>{{:STORE_NM1}}</td>
                              <td>{{:SUBJECT_NM}}</td>
                              <td>{{:AMOUNT_RAT}}%</td>
                              <td>{{numb:AMOUNT}}</td>
                          </tr>
                      {{/for}}
                  </script>
                  <script type="text/x-jsrender" id="<@compId>_tableId_noData_template">    
                     <tr>    
                         <td colspan=6>자료가 없습니다.</td>    
                     </tr>
                  </script>
                  
                </table>
                <!-- table end -->
              </div>
            </div>
          </div>
        </div>

        <!-- table area end -->

    </div>
  <!-- body-contents end -->


</component>
