<meta charset="utf-8">
<script type="text/javascript">
    var <@compId> = {
   		 stockList		: []
		,loadComponent 	: function() {

			<@compId>.stockList = C_STOCK.getStockList();

			if( isEmpty(<@compId>.stockList) || <@compId>.stockList.length == 0) {
				C_POP.alert('재고 Data가 없습니다.');
				return;
			}
			let sendParm = {
				gridParm : {
					 tableDataList	: <@compId>.stockList
					,columnMap 		: {
						 "STOCK_MST_ID" 	: { headerText : "지점매출ID"	, hidden : "Y"			}
						,"startDate" 		: { headerText : "기준일"								}
						,"PRODUCT_CD" 		: { headerText : "상품코드"  	,width : "150px"		}
						,"PRODUCT_NM" 		: { headerText : "상품명"  		,width : "200px"		}
						,"STOCK_RATE"		: { headerText : "재고율" 	 							}
						,"STOCK_ANALY"		: { headerText : "재고 상태" 	,width : "150px"		}
						,"AVG_QUANTITY" 	: { headerText : "적정재고량"	,hidden : "Y", dataType : "number"  	}
						,"nujukSumQt" 		: { headerText : "현재재고량"	,hidden : "Y", dataType : "number"	}
					 }
					,addColumnMap	: {
						noSort	: {
							 "STOCK_ANALY" 	: "Y"
						}
					 }
					,columnConfig		: {
						makeCellViewData	: {
							"STOCK_RATE"	: function(cellText, rowData) {
								if(isNumber(cellText)) 	cellText = cellText + "%";
								else					cellText = "";
								return cellText;
								
							 }
							,"STOCK_ANALY" 	: function(cellText, rowData) {
								let rate = Math.round(rowData.nujukSumQt / rowData.AVG_QUANTITY *1000 ) / 10;
								let eobj = C_STOCK.evaluationCriteriaOfStock(rate);
								
								if(isEmpty(eobj)) return "";
								
								let retStr = `<span style="color:${eobj.COLOR_CODE}"	>${eobj.EVALUATION}</span>`;
								return retStr;
							 }
							,"outQuantitySum" 	: function(cellText, rowData) {
								if(isEmpty(cellText) || !isNumber(cellText)) 	return cellText;
								else 											return addComma(toNumber(cellText, 2, "ceil"));
							 }
							,"nujukSumQt" 		: function(cellText, rowData) {
								if(isEmpty(cellText) || !isNumber(cellText)) 	return cellText;
								else 											return addComma(toNumber(cellText, 2, "ceil"));
							 }
						 }
						,columnTooltip : {
							STOCK_ANALY : "- 매입Data 점검필요\n1. 매입 Data가 매우 작거나, 없는 경우로 매입 Data의 누락 가능성이 있습니다.\n2. 공식적인 매입(입고)가 부족한 상태에서 매출(출고)가 발생한 경우로 사입을 의심해 볼 수 있습니다."
						}
					 }
					,primaryKeyList		: ["STOCK_MST_ID"]
					,searchColumnList	: ["PRODUCT_CD", "PRODUCT_NM"]	
					,orderColumnList 	: ["PRODUCT_NM"]				
					,searchWhereMap		: {"BRAND_ID" : G_VAL.session.BRAND_ID }
					,rowCntId			: "<@compId>_rowCnt"
				 }
			}
			C_COMP.import("<@compId>_Grid", "component_compGrid",sendParm , function(tableList) {
				<@compId>.makeChart(tableList)
			});		

		
		}
		,makeChart : function(tableList) {
			let categories 	= []
			let series		= []
			let dataList1	= []
			
			$.each(tableList, function(idx) {
				categories	.push(this.PRODUCT_NM	);				
				dataList1	.push(this.STOCK_RATE	);				
			});
			series.push({ name : "재고율(%)", data : dataList1});
			
	        Highcharts.chart("<@compId>_chart", {
	            chart: {
	                 type: 'column'
	                ,height : "350px"
	            },
	            title: {
	                text: ''
	            },
	            xAxis: {
	                categories: categories
	            },
	            yAxis: {
	                title: {
	                    text: '재고율(%)'
	                }
	            },
	            series: series
	        });
		 }
		,_lineRateChart : function(container, categories, series) {
			_lineRateChart(container, categories, series);
		 }	
		,_barLineChart		: function (container, categories, series  ) {
			_barLineChart(container, categories, series );
	     }
		,_barLeftChart		: function (container, chartArray  ) {
			_barLeftChart(container, chartArray);
		 }
		,_1bar2LineChart 	: function (container, categories, series) {
			_1bar2LineChart(container, categories, series);
		 }
		,changeStore : function(storeId) {
			G_VAL.current.storeId = storeId;
			C_STOCK.makeStockOfDay({}, function() {
				<@compId>.loadComponent();
			});
		 }
	    ,searchBtn : function() {
	    	<@compId>.loadComponent();
	     }
     }
    // Component Load가 완료된후 실행 된다.
    C_COMP.onLoadComp("<@compId>", function(parm) {
		var parm = {
			 queryId 		: "common.getStockProductList"
			,requestParm	: { BRAND_ID : G_VAL.session.BRAND_ID }
		}
		let resultData = C_COM.requestQuery(parm);
		
		let productList = C_COM.makeCodeList(resultData.data, "PRODUCT_CD", "PRODUCT_NM");
		
		var multiboxList = { 
			 data 			: productList
		 	,targetId 		: "multiSelectBox"
		}
		C_UICOM.makeSelectBox(multiboxList, "multi");
		
		// 재고 조정일 가져오기
		var parm2 = {
			 queryId 		: "storeManage.getStockAdjustDateList"
			,requestParm	: { BRAND_ID : G_VAL.session.BRAND_ID, STORE_ID : G_VAL.current.storeId }
		}
		let resultData2 = C_COM.requestQuery(parm2);
		
		let adjustDateList = C_COM.makeCodeList(resultData2.data, "ADJUST_DATE", "ADJUST_DATE");
		
		var singleboxList = { 
			 data 			: adjustDateList
		 	,targetId 		: "singleSelectBox"
		}
		C_UICOM.makeSelectBox(singleboxList, "single");
		
		// 가맹점 Selectbox 설정	
		C_COM.getStoreList(G_VAL.session.BRAND_ID, function(selectList) {
			
			var singleboxList = { 
				 data 			: selectList
				,defaultVal		: G_VAL.current.storeId
			 	,targetId 		: "<@compId>_store"
			}
			C_UICOM.makeSelectBox(singleboxList, "single");
			
			C_STOCK.makeStockOfDay({}, function() {
				<@compId>.loadComponent();
			});
		}, true);
		
    });
</script>
<component>

     <!-- title start -->
     <div class="mt10 mb5 mt30 display-between" wgtgrp="<@compTemplateId>" domgrpid="<@compTemplateId>_grp1" id="<@compTemplateId>_grp1_title">
         <div class="biz-subTitle">
             <@tabTitle>
         </div>
     </div>
     <!-- title end -->

     <!-- search filter box start -->
     <div class="srch-card mb10">
         <div class="srch-card-inwrap">
         
            <div class="col9 col10-sm srch-card-form">
                <div class="col33 col5-md col5-sm display-h-end mb5">
                    <label class="src-title">가맹점</label>
                    <select class="form-control form-control-sm col10 mr5" id="<@compId>_store" onchange="<@compId>.changeStore(this.value)">
                    </select>
                </div> 
          <div class="col33 col5-md col5-sm display-h-end mb5">
              <label class="src-title01">메뉴명</label>
           <component class="col10" id="multiSelectBox"></component>
          </div>
          <div class="col33 col5-md col5-sm display-h-end mb5">
              <label class="src-title01">재고기준일</label>
           <select class="form-control form-control-sm col10" id="singleSelectBox"></select>
          </div>
            </div>
            <div class="col1 col10-sm display-h-end pl-lg-15 mb5">
                <button class="srch-btn col10" type="button" onclick="<@compId>.searchBtn()">검 색</button>
            </div>
            
         </div>
     </div>

    <div class="display-between display-sm-between mt10">
        <!-- card 01 start -->
        <div class="tab-card-allwrap col5-gap mb-lg-25 col10-md col10-sm mb-sm-25">
	        <div class="card-inwrap">
		        <div class="card-tit-wrap">
		            <div class="card-tit">재고율 현황 Chart</div>
		        </div>
		        <div class="card-cnt-wrap">
		            <div class="table-allwrap pt20" style="height:365px">
			            <!-- chart start -->
			            <div class="card-cnt-wrap h100">
							<div id="<@compId>_chart" width="100%" height="100%"></div>	            
						</div>
			            <!-- chart end -->            
		            </div>
		        </div>
	        </div>
	    </div>
	    <!-- card 03 end -->
	    <!-- card 04 start -->
        <div class="tab-card-allwrap col5-gap mb-lg-25 col10-md col10-sm mb-sm-25">
	        <div class="card-inwrap">
		        <div class="card-tit-wrap">
		            <div class="card-tit">재고율 현황 목록</div>
	            	<div>total : <span id="<@compId>_rowCnt">11</span></div>
		        </div>
		        <div class="card-cnt-wrap">
		            <div class="table-allwrap" style="height:365px">
		            <!-- table start -->
		            <component id="<@compId>_Grid"></component>
		            <!-- table end -->            
		            </div>
		        </div>
	        </div>
	    </div>
	    <!-- card 04 end -->
  </div>
</component>
