<meta charset="utf-8">
<script type="text/javascript">
	var <@compId> = {
		 selectedCheck :{ "grpCodeList": [],"normalCodeList": [] }
		,getItems : (loc) => {
				const requestParm = {};
				const updateItems = $("#"+loc+" input:not([type='radio'])");
				
				const valuesArray = updateItems.map(function() {
				    return { name: this.name, value: ""+$(this).val() };
				}).get();
				
				valuesArray.forEach(function(item) {
					requestParm[item.name] = item.value;
				});
	
				return requestParm;
				
		}
		,createChart 		: (container, categories, series)=>_lineRateChart(container, categories, series)
		,showObject : (obj, loc) => {
			try{
				var keys = Object.keys(obj);
			    for (var i=0; i<keys.length; i++) {
			    	var key = keys[i];
			    	$("#<@compId>_" + key).html(obj[key]);
			    	$(".<@compId>_" + key).html(obj[key]);
			    }
			} catch(e) {
				
			}
		}
		,showList : (targetId, dataList) => { 
			const rpm = {
					 targetId 		: targetId
					,list			: dataList  
				}
			C_COM.renderHtml("<@compId>", rpm);
		}
		,selectQueryGroup : function(pmt) {
			var parm = {
				queryGroup : [
					{
						 queryId 			: "financialanalysis.getFinAnalLifecycleIssue"
						,requestParm	: pmt
					}
				]
			}
			C_COM.requestQuery(parm, function(resultData) {
				<@compId>.showList("<@compId>_getFinAnalLifecycleIssue", resultData.data['financialanalysis.getFinAnalLifecycleIssue']);
				<@compId>.showObject(resultData.data['financialanalysis.getFinAnalLifecycleIssue'][0],'');
			});
		 }
		,goPage : (pageId,rowId) => {
	
			const $tds = $(`[name='<@compId>_tr_${rowId}']`)
			const jsonObject = {};
	
			jsonObject['BOARD_MST_ID'] = $("#BOARD_MST_ID").val();
			
			$tds.children("td").each(function() {
				
			    const id = this.id;
			    const value = $(this).text().trim();
				if( id )
			    	jsonObject[id] = value;
			});
	
			C_PM.movePage( pageId.trim(), jsonObject );
			
		}
		,setHandler : () => {
		}		
		,setEachColumnValue : (loc, arr ,grp) => {
		}
		,fnRadioCheckValue : (loc, name , pValue) => {
		}
		,setCoverMask : (data) =>{
	
			const names = ["STOCKHOLDER_NM" , "OWNER_NM"]; // 마스킹할 이름 ARRAY
			const jumins = [];
			const saupNos = [];
			data.forEach( dd => {
				
				let rData = dd[1];
				rData.forEach( da =>{
	
					names.forEach( name =>{if( da && !isEmpty(da[name]) )da[name] = <@compId>.getMask('name',da[name]);})
					jumins.forEach( jumin =>{if( da && !isEmpty(da[jumin]) )da[jumin] = <@compId>.getMask('jumins',da[jumins]);})
					saupNos.forEach( saupNo =>{if( da && !isEmpty(da[saupNo]) )da[saupNo] = <@compId>.getMask('saupNo',da[saupNo]);})
					
				})
				
			})
			
			return data;
		}
	
		,getMask :(gubun,str)=> {
	
			switch (gubun) {
				case "name":	// 이름 : 첫 번째 글자만 남기고 나머지 글자를 '*'로 마스킹
					if (str && str.length > 0) {
		                return str[0] + '*'.repeat(str.length - 1);
		            }
		            break;
	
				case "jumin":	// 주민번호 : 앞 6자리까지 표시하고 이후는 '*'로 마스킹
					if (str && str.length >= 7) {
						return str.slice(0, 6) + '-*******';
		            }
		            break;
	
		        case "saupNo":	// 사업자번호 : 앞 3자리와 뒤 2자리만 표시하고 중간은 '*'로 마스킹
					if (str && str.length >= 10) {
						return str.slice(0, 3) + '-**-****';
					}
					break;
		        default:
		            // 해당되지 않는 경우 원본 반환
		            return str;
		    }
	
		    return str;
		 }
		,generalCompareEdit : () => {
			let parm = {
				 gridParm 	: {
					 tableName		: "TBL_EXP_FIN_ANAL_STOCKHOLDER"
					,columnMap 		: {
						 "BUYER_ID" 			: { headerText : "BUYER_ID"	}  // ifNewAutoSet = "random" 인경우 값이 숨겨져 있기 때문에 새로운 Row Insert시 값 랜덤값 Setting
						,"SEQ" 					: { headerText : "연번"	}
						,"STOCKHOLDER_NM" 		: { headerText : "주요주주"	}
						,"STOCK_CNT" 			: { headerText : "주식수"	}
						,"SHARE_RATIO" 			: { headerText : "지분율"	}
						,"STOCK_KIND" 			: { headerText : "주식종류"	}
						,"OWNER_RELATIONSHIP" 	: { headerText : "경영실권자와의 관계"	}
						,"COMPANY_RELATIONSHIP" : { headerText : "회사와의 관계"	}
						,"BORROWED_NM_YN" 		: { headerText : "차명주주 여부"	}
					 }
					 // Header가 두줄인경우, 같은이름으로 Grouping한다.
					,columnConfig 	: {
					 }
					 /*
					,rowConfig		: {
						onClickRow : function(rowObj) {
							dalert(rowObj);
						}
					 }
					,gridConfig : {
						width : ""	
					 }
					 */
					,primaryKeyList		: ["BUYER_ID", "SEQ"]
					,searchColumnList	: ["BUYER_ID", "SEQ"]		// Table 지정인경우 적용
					//,orderColumnList 	: ["GROUP_1 ASC", "GROUP_2 ASC"]				// Table 지정인경우 적용
					//,checkbox			: "show"
					//,ordernum			: "hide"
					//,readOnly			: "Y"
					//,gridWidth		: "2000px"
					,filterWhere		: `BUYER_ID = '${G_VAL.session.BUYER_ID}'`
				 }
				,popupTitle : `주주 및 임원`
				,size 		: "MAX"
			}
			C_POP.open("popup_common_tableEditPopup", parm, function(retData){
				if(isValid(retData)) {
					if(retData.refresh == "Y") {
						<@compId>.reload();
					}
				}
			});
		 }
	}
	// Component Load가 완료된후 실행 된다.
	C_COMP.onLoadComp("<@compId>", function(data) {
		//debugger;
		data.BUYER_ID = G_VAL.session.BUYER_ID;
		<@compId>.selectQueryGroup(data);
	});
</script>
<component>

	<div class="pop_tab_content_box fx-col2 fx-col2-md">
	    <div class="col8 col10-md col10-sm display-row display-row-nowrap-md02 mb20" id="<@compId>_getFinAnalLifecycleIssue">
		</div>
		<script type="text/x-jsrender" id="<@compId>_getFinAnalLifecycleIssue_template">
		{{for list}}
        <div class="display-column-between {{:CHECK_STR}} col10 col5-md">
            <p class="fs20 txt-violet txt-center p10">{{:PERIOD_STR}}</p>
            <p class="txt-center"><img src="images/process0{{:ISSUE_CODE}}.gif" alt="" width="50px"></p>
            <div class="tab-card-outline">
                <div class="bg-violet p20">
                    <p class="fs20 txt-white fs-w txt-center deco-line pb10">{{:ISSUE_TITLE}}</p>
                    <p class="fs13 txt-white fs-w txt-center pt5">{{:ISSUE_EXPLAIN}}</p>
                </div>
                {{:ISSUE_DETAIL}}
            </div>
        </div>
		{{/for}}
		</script>
		<script type="text/x-jsrender" id="<@compId>_getFinAnalLifecycleIssue_noData_template">
		<div class="col8 col10-md col10-sm display-row display-row-nowrap-md02 mb20">	
		   	<span>자료가 없습니다.</span>	
		</div>
		</script>
	    <div class="col2 col10-md col10-sm tab-card-outline mb20">
	        <div class="add-file-wrap">
	            <div class="biz-subTitle">Check Point</div>
	        </div>
	        <div class="checkpoint-wrap">
	            <h4 class="checkpoint-subTitle">라이프 사이클 현재 단계</h4>
	            <p>귀사의 <span class="txt-blue">경영기간은 <span class="<@compId>_MANAGEMENT_PERIOD"></span>년으로 <span class="<@compId>_CURRENT_STEP"></span> 단계에</span> 해당하는 경영 이슈를 중점적으로 점검할 필요가 있습니다.</p>
	        </div>
	    </div>
	</div>

</component>